body {
  font-family: Arial, sans-serif;
  color: black;
}

.report-title {
  color: black;
  font-weight: bold;
}

.btn {
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

@media (max-width: 768px) {
  .btn {
    padding: 8px 10px;
  }

  .custom-table th,
  .custom-table td {
    padding: 8px 10px;
  }

  .btn-add-category {
    width: 100%;
    float: none;
    margin-bottom: 10px;
  }
}

.table-hover tbody tr:hover {
  background-color: #f1f4f5 !important;
  color: black;
}

.page-body-wrapper{
  background-color: #2E2E2E;
}

label {
  color: black;
}

.table-responsive.table-scrollable {
  overflow-x: auto;
  max-height: 400px;
}

th, td {
  color: black;
}

.description-col {
  max-width: 150px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.trash{
  color: rgb(247, 88, 88) !important;}
  
  .pencil-square{
  color: rgb(92, 92, 245) !important;
  }


  .plus{
    color: rgb(0,193,83) !important; 
    font-size: 30px !important;
    margin-left: 900px;

  }

  .adminStyles .table-responsive {
    display: block;
    width: 100%;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    height: 400px;
    max-width: 1000px;
  }
  .content-wrapper{
    max-height: 100vh;
    overflow-y: none;
    background: #F9F9F9;
    padding: 1.875rem 1.75rem;
    width: 100%;
    flex-grow: 1;
  }
  
  .table {
    width: 100%;
    color: var(--admin-background-color);
    background-color: var(--admin-background-color-under-card);
    border-collapse: collapse;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
  }
  
  .table th {
    background-color: #f3f4f6;
    color: #333 !important;
    padding: 12px;
    font-weight: 600;
    border: 1px solid #ddd !important;
    text-align: left;
  }
  
  .table td {
    padding: 10px;
    border: 1px solid #ddd;
    text-align: left;
  }
  
  .table tbody tr:hover {
    background-color: #f9f9f9;
  }
  .card {
    background-color: var(--admin-card-background-color);
  }
  
  .buttons-container{
    display:flex;
    justify-content: space-evenly;
  }