/* General Styles */
body {
  font-family: Arial, sans-serif;
  color: black;
}

/* Card Title */
.report-title {
  color: black;
  font-weight: bold;
}

/* Button Styles */
.btn {
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

/* Responsive Design */
@media (max-width: 768px) {
  .btn {
    padding: 8px 10px;
  }

  .custom-table th,
  .custom-table td {
    padding: 8px 10px;
  }

  .btn-add-category {
    width: 100%;
    float: none;
    margin-bottom: 10px;
  }
}

/* Change text color to white and background to red on hover */
.table-hover tbody tr:hover {
  background-color: #f1f4f5 !important;
  color: black;
}