<section class="container forms">
    <!-- Display Forgot Password Dialog above the Login Form -->
    <div *ngIf="showForgotPasswordDialog" class="forgot-password-dialog">
        <p style="color: black;"><b>Forgot Password Form</b></p>
        <br>
        <div class="example-container">
            <mat-form-field>
                <input type="email" matInput name="email" placeholder="Enter Your Email" >
            </mat-form-field>
        </div>
        <div class="dialog-actions">
            <button (click)="closeForgotPasswordDialog()">Cancel</button>
            <button>Save</button>
        </div>
    </div>

    <div class="form login">
        <div class="form-content">
            <header>Login
                <a routerLink="/home" class="close-button">x</a>
            </header>
            <form (ngSubmit)="onSubmit()">
                <div class="field input-field">
                    <input type="email" placeholder="Email" [(ngModel)]="email" name="email" [formControl]="Email">
                    <span class="text-danger"
                    *ngIf="Email.hasError('email')">Please enter a valid email address</span>
                    
                    <span class="text-danger"*ngIf="Email.hasError('required')">Email is required</span>
                </div>
                <div class="field input-field">
                    <input type="password" placeholder="Password" class="password" [(ngModel)]="password" name="password" [formControl]="Password">
                    <i class='bx bx-hide eye-icon'></i>
                    <span class="text-danger" *ngIf="Password.hasError('minLength')">Please enter a stronger password</span>
                    <span class="text-danger"*ngIf="Password.hasError('required')">Password is required</span>
                </div>

                <section class="example-section">
                    <mat-checkbox class="example-margin" id="rememberMe" [(ngModel)]="rememberMe" name="rememberMe">Remember me</mat-checkbox>
                </section>

                <div class="form-link">
                    <a href="#" class="forgot-pass" (click)="openForgotPasswordDialog(); $event.preventDefault()">Forgot password?</a>
                </div>

                <div class="field button-field">
                    <button type="submit" (click)="login()">Login</button>
                </div>
            </form>
            <div class="form-link">
                <span>Don't have an account? <a routerLink="/security/register" class="link">Signup</a></span>
            </div>
        </div>
        <div class="line"></div>
        <div class="media-options">
            <a href="#" class="field facebook">
                <i class='bx bxl-facebook facebook-icon'></i>
                <span>Login with Facebook</span>
            </a>
        </div>
        <div class="media-options">
            <a href="#" class="field google">
                <img src="../../../assets/Auth/images/google.png" alt="" class="google-img">
                <span>Login with Google</span>
            </a>
        </div>
    </div>
</section>
