<section class="container forms">
  <div class="form register">
    <div class="form-content">
      <header>Signup
        <a routerLink="/home" class="close-button">x</a>
      </header>

      <form [formGroup]="registerForms">
        <div class="field-group">
          <div class="field input-field">
            <input type="text" placeholder="First Name" name="FIRST_NAME" formControlName="FIRST_NAME">
            <span 
              *ngIf="registerForms.controls['FIRST_NAME'].touched" 
              [style.color]="registerForms.controls['FIRST_NAME'].valid ? 'green' : 'red'">
              {{ registerForms.controls['FIRST_NAME'].valid ? 'First Name is Valid' : 'First Name is Required' }}
            </span>
          </div>
          <div class="field input-field">
            <input type="text" placeholder="Last Name" name="LAST_NAME" formControlName="LAST_NAME">
            <span 
              *ngIf="registerForms.controls['LAST_NAME'].touched" 
              [style.color]="registerForms.controls['LAST_NAME'].valid ? 'green' : 'red'">
              {{ registerForms.controls['LAST_NAME'].valid ? 'Last Name is Valid' : 'Last Name is Required' }}
            </span>
          </div>
        </div>

        <div class="field-group">
          <div class="field input-field">
            <input type="email" placeholder="Email" name="EMAIL" formControlName="EMAIL">
            <span *ngIf="registerForms.controls['EMAIL'].touched">
              <span *ngIf="registerForms.controls['EMAIL'].hasError('required')" style="color: red;">Email is Required</span>
              <span *ngIf="registerForms.controls['EMAIL'].hasError('email')" style="color: red;">Enter a valid email address</span>
            </span>
          </div>
          <div class="field input-field">
            <input type="text" placeholder="Phone Number" name="PhoneNumber" formControlName="PhoneNumber">
            <span 
              *ngIf="registerForms.controls['PhoneNumber'].touched" 
              [style.color]="registerForms.controls['PhoneNumber'].valid ? 'green' : 'red'">
              {{ registerForms.controls['PhoneNumber'].valid ? 'Phone Number is Valid' : 'Input a valid Phone Number' }}
            </span>
          </div>
        </div>

        <div class="field-group">
          <div class="field input-field">
            <input type="text" placeholder="Address" name="Address" formControlName="Address">
            <span 
              *ngIf="registerForms.controls['Address'].touched" 
              [style.color]="registerForms.controls['Address'].valid ? 'green' : 'red'">
              {{ registerForms.controls['Address'].valid ? 'Address is Valid' : 'Address is Required' }}
            </span>
          </div>
        </div>

        <div class="field-group">
          <div class="field input-field">
            <input type="password" placeholder="Create Password" name="PASSWORD" formControlName="PASSWORD" >

            <span *ngIf="registerForms.controls['PASSWORD'].touched">

              <span *ngIf="registerForms.controls['PASSWORD'].errors?.['pattern']" style="color: red;">
                PASSWORD  must contain at least one uppercase letter and special character such as ( #, & ).
              </span>
            
              <span *ngIf="registerForms.controls['PASSWORD'].errors?.['minLength']" style="color: red;">
                Minimum Length of Password is 8
              </span>
            
            </span>
            
<br><br><br><br><br><br><br><br><br><br>
          <!-- 
            <span *ngIf="registerForms.controls['PASSWORD'].touched" [style.color]="registerForms.controls['PASSWORD'].valid ? 'green' : 'red'">            
              {{ registerForms.controls['PASSWORD'].valid ? '' : 'PASSWORD is Required' }}
              {{ registerForms.controls['PASSWORD'].valid ? 'Length of password is done' : 'Minimum Length of Password is 8' }}
              {{ registerForms.controls['PASSWORD'].valid ? 'contain upper letter' : 'Password must contain at least one uppercase letter' }}
              {{ registerForms.controls['PASSWORD'].valid ? 'contain special charachter' : 'Password must contain at least one special character such as ( #, &).' }}          
            </span> -->
 
          </div>
          <div class="field input-field">
            <input type="password" placeholder="Confirm Password" name="REPASSWORD" formControlName="REPASSWORD">
            <span *ngIf="registerForms.controls['REPASSWORD'].touched">
              <span *ngIf="registerForms.controls['REPASSWORD'].hasError('MissMatch')" style="color: red;">Repeated Password must match with Password</span>
            </span>
          </div>
        </div>
<br><br>
        <div class="field button-field">
          <button type="button" [disabled]="!registerForms.valid" (click)="Submit()">Signup</button>
        </div>
        
      </form>

      <div class="form-link">
        <span>Already have an account? <a routerLink="/security/login" class="link">Login</a></span>
      </div>
    </div>

    <div class="line"></div>

    <div class="field-group">
      <div class="media-options" style="width: 250px;max-width: 100%;">
        <a href="#" class="field facebook">
          <i class='bx bxl-facebook facebook-icon'></i>
          <span>Login with Facebook</span>
        </a>
      </div>

      <div class="media-options" style="width: 250px;max-width: 100%;">
        <a href="#" class="field google">
          <img src="../../../assets/Auth/images/google.png" alt="" class="google-img">
          <span>Login with Google</span>
        </a>
      </div>
    </div>

  </div>
</section>
