<!DOCTYPE html>
<html lang="en">

<body>
  <div class="container-scroller">

    <app-header></app-header>
    <!-- partial -->
    <div class="container-fluid page-body-wrapper">
      <!-- partial:../../partials/_navbar.html -->

      <!-- partial -->
      <div class="main-panel">
        <div class="content-wrapper" style="background-color:#0a0d14 ;">

          <div class="row">


            <div class="col-lg-12 grid-margin stretch-card">
              <div class="card">
                <div class="card-body">
                  <div class="d-flex justify-content-between align-items-center" style="margin-bottom: 10px;">

                  <h4 class="card-title">Trip Table</h4>
                  <button mat-raised-button style="background-color: rgb(0,193,83); color: white; border-radius: 20px;">Add Trip</button>
                </div>
                  <div class="table-responsive table-scrollable">
                    <table class="table table-dark">
                      <thead>
                        <tr>
                          <th> # </th>
                          <th class="description-col"> Trip Name </th>
                          <th> price </th>
                          <th> location </th>
                          <th> Start Date </th>
                          <th> End Date </th>
                          <th> Users </th>
                          <th> Volunteers </th>
                          <th class="description-col"> Description </th>
                          <th> Operations </th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr *ngFor="let obj of admin.Trip">
                          <td> {{obj.trip_Id}} </td>
                          <td class="description-col" matTooltip="{{ obj.trip_Name }}"> {{obj.trip_Name}} </td>
                          <td> {{obj.trip_Price}} </td>
                          <td> {{obj.destination_Location}} </td>
                          <td> {{obj.start_Date | date }} </td>
                          <td> {{obj.end_Date | date }} </td>
                          <td> {{obj.max_Number_Of_Users}} </td>
                          <td> {{obj.max_Number_Of_Volunteers}} </td>
                          <td class="description-col" matTooltip="{{ obj.description }}"> {{obj.description}} </td>
                          <td>
                            <button mat-raised-button color="primary" (click)="ManageTrip(obj.trip_Id)" style="border-radius: 20px;font-size: 13px;">Manage
                              Trip</button>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>
        <!-- content-wrapper ends -->
        <!-- partial:../../partials/_footer.html -->

        <!-- partial -->
      </div>
      <!-- main-panel ends -->
    </div>
  </div>

</body>

</html>