<div class="adminStyles">
  <div class="container-scroller" style="max-height: 100vh; max-height: 100vw;">
    <app-header></app-header>
    <div class="container-fluid page-body-wrapper" style="max-height: 100vh; overflow-y: auto; overflow-x: hidden;">
      <div class="main-panel">
        <div class="content-wrapper" style="max-height: 100vh; overflow-y: auto; overflow-x: auto;">
          <div class="row">
            <div class="col-lg-12 grid-margin stretch-card">
              <div class="card">
                <div class="card-body">
                  <div class="d-flex justify-content-between align-items-center" style="margin-bottom: 10px;">
                    <h4 class="card-title" style="color: black;">Trip Table</h4>
                    <button mat-button (click)="goTo()" style="color: rgb(0,193,83); font-size: 30px !important;">
                      <i class="bi bi-plus-circle-fill fs-1"></i>
                    </button>
                  </div>
                  <!-- Inline input fields container with labels -->
                  <div class="input-container">
                    <div class="input-wrapper">
                      <label for="trip_Name" style="color: black;">Search Place:</label>
                      <input type="text" id="trip_Name" class="form-control" placeholder="Search place"
                        [(ngModel)]="trip_Name">
                    </div>
                    <div class="input-wrapper">
                      <label for="checkInDate" style="color: black;">Check In Date:</label>
                      <input type="date" id="checkInDate" class="form-control" [(ngModel)]="checkInDate">
                    </div>
                    <div class="input-wrapper">
                      <label for="checkOutDate" style="color: black;">Check Out Date:</label>
                      <input type="date" id="checkOutDate" class="form-control" [(ngModel)]="checkOutDate">
                    </div>
                    <div class="input-wrapper">
                      <!-- <label for="minPrice">Min Price:</label> -->
                      <input type="number" id="minPrice" class="form-control" [(ngModel)]="minPrice" hidden>
                    </div>
                    <div class="input-wrapper">
                      <!-- <label for="maxPrice">Max Price:</label> -->
                      <input type="number" id="maxPrice" class="form-control" [(ngModel)]="maxPrice" hidden>
                    </div>
                  </div>
                  <div class="table-responsive table-scrollable">
                    <table class="table table-light" style="background-color: white;">
                      <thead>
                        <tr>
                          <th class="description-col" style="color: black;"> Trip Name </th>
                          <th style="color: black;"> Price </th>
                          <th style="color: black;"> Location </th>
                          <th style="color: black;"> Start Date </th>
                          <th style="color: black;"> End Date </th>
                          <th style="color: black;"> Users </th>
                          <th style="color: black;"> Volunteers </th>
                          <th style="color: black;" class="description-col"> Description </th>
                          <th style="color: black;"> Operations </th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr
                          *ngFor="let obj of admin.Trip | tripFilter: trip_Name : checkInDate : checkOutDate: minPrice : maxPrice">
                          <td class="description-col" matTooltip="{{ obj.trip_Name }}">
                            {{ obj.trip_Name.trim().length > 20 ? (obj.trip_Name.trim() | slice:0:15) + '...' :
                            obj.trip_Name.trim() }}
                          </td>
                          <td> {{obj.trip_Price}} </td>
                          <td class="description-col"
                            matTooltip="Departure: {{ obj.departure_Location }}, Destination: {{ obj.destination_Location }}">
                            Departure: {{ obj.departure_Location | slice:0:7 }}... <br>
                            Destination: {{ obj.destination_Location | slice:0:6}}...
                          </td>
                          <td> {{obj.start_Date | date }} </td>
                          <td> {{obj.end_Date | date }} </td>
                          <td> {{obj.max_Number_Of_Users}} </td>
                          <td> {{obj.max_Number_Of_Volunteers}} </td>
                          <td class="description-col" matTooltip="{{ obj.description }}"> {{obj.description |
                            slice:0:18}}... </td>
                          <td>
                            <button mat-button color="primary" (click)="ManageTrip(obj.trip_Id)" class="action-button"
                              matTooltip="manage this trip" style="color: rgb(92, 92, 245) !important;"><i
                                class="bi bi-pencil-square"></i></button>
                            <button mat-button (click)="openDeleteDialog(obj.trip_Id)" matTooltip="Delete this trip"
                              class="action-button" style="color: rgb(247, 88, 88) !important;"><i
                                class="bi bi-trash-fill"></i></button>
                            <button mat-button color="accent"
                              matTooltip="View Person Reservation/Volunteers on this trip"
                              (click)="ManagePersonal(obj.trip_Id)" class="action-button"
                              style="color: rgb(92, 245, 120) !important;"><i class="bi bi-person-fill"></i></button>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>



<!-- Delete Trip -->
<ng-template #callDeleteDailog>
  <h1 mat-dialog-title>Delete Trip</h1>
  <div mat-dialog-content>Are you sure you went to delete this item ?</div>
  <div mat-dialog-actions>
    <button mat-button mat-dialog-close="yes">Yes</button>
    <button mat-button mat-dialog-close="no">No</button>
  </div>
</ng-template>
