/* General Styles */
body {
  font-family: Arial, sans-serif;
  color: black;
}

/* Card Title */
.report-title {
  color: black;
  font-weight: bold;
}


/* Mat-Form Field Styling */
.example-container mat-form-field {
  width: 100%;
}

/* Responsive Design */
@media (max-width: 768px) {
  .btn {
    padding: 8px 10px;
  }

  .custom-table th,
  .custom-table td {
    padding: 8px 10px;
  }

  .btn-add-category {
    width: 100%;
    float: none;
    margin-bottom: 10px;
  }
}