body {
  font-family: Arial, sans-serif;
  color: black;
}

.report-title {
  color: black;
  font-weight: bold;
}


.example-container mat-form-field {
  width: 100%;
}

.page-body-wrapper{
  background-color: #2E2E2E;
}

@media (max-width: 768px) {
  .btn {
    padding: 8px 10px;
  }

  .custom-table th,
  .custom-table td {
    padding: 8px 10px;
  }

  .btn-add-category {
    width: 100%;
    float: none;
    margin-bottom: 10px;
  }
}