<h1>Review Forms</h1>
<form [formGroup]="Review">
  <div class="example-container">
    <mat-form-field>
      <mat-label>REVIEW_ID</mat-label>
      <input type="text" matInput formControlName="REVIEW_ID">
    </mat-form-field>
  </div>
  <div class="example-container">
    <mat-form-field>
      <mat-label>RATE</mat-label>
      <input type="text" matInput formControlName="RATE">
    </mat-form-field>
  </div>
  <div class="example-container">
    <mat-form-field>
      <mat-label>FEEDBACK</mat-label>
      <input type="text" matInput formControlName="FEEDBACK">
    </mat-form-field>
  </div>
  <div class="example-container">
    <mat-form-field>
      <mat-label>BOOKING_ID</mat-label>
      <input type="text" matInput formControlName="BOOKING_ID">
    </mat-form-field>
  </div>
  <div class="example-container">
    <mat-form-field>
      <mat-label>CREATE_AT</mat-label>
      <input type="text" matInput formControlName="CREATE_AT">
    </mat-form-field>
  </div>
  <div class="example-container">
    <mat-form-field>
      <mat-label>VOLUNTEER_ID</mat-label>
      <input type="text" matInput formControlName="VOLUNTEER_ID">
    </mat-form-field>
  </div>
  <div class="example-container">
    <mat-form-field>
      <mat-label>TRIP_ID</mat-label>
      <input type="text" matInput formControlName="TRIP_ID">
    </mat-form-field>
  </div>
  <div class="example-container">
    <mat-form-field>
      <mat-label>TRIP_ID</mat-label>
      <input type="text" matInput formControlName="TRIP_ID">
    </mat-form-field>
  </div>
 <button (click)="save()"></button>
</form>

  