<app-navbar></app-navbar>
<section class="hero-wrap hero-wrap-2 js-fullheight" style="background-image: url('assets/Home/images/chero12.jpeg');">
  <div class="overlay"></div>
  <div class="container">
    <div class="row no-gutters slider-text js-fullheight align-items-end justify-content-center">
      <div class="col-md-9 ftco-animate pb-5 text-center">
        <p class="breadcrumbs"><span class="mr-2"><a routerLink="/home">Home <i
                class="fa fa-chevron-right"></i></a></span> <span>Trips <i class="fa fa-chevron-right"></i></span>
        </p>
        <h1 class="mb-0 bread">Trips</h1>
      </div>
    </div>
  </div>
</section>


<br><br><br>

<section class="ftco-section ftco-no-pb ftco-no-pt">
  <div class="container">
      <div class="row">
          <div class="col-md-12">
              <div class="ftco-search d-flex justify-content-center">
                  <div class="row">
                      <div class="col-md-12 nav-link-wrap">
                          <div class="nav nav-pills text-center" id="v-pills-tab" role="tablist"
                              aria-orientation="vertical">
                              <a class="nav-link active mr-md-1" id="v-pills-1-tab" data-toggle="pill"
                                  href="#v-pills-1" role="tab" aria-controls="v-pills-1"
                                  aria-selected="true" (click)="selectTab('trip')">Trip</a>
                              <a class="nav-link" id="v-pills-2-tab" data-toggle="pill" href="#v-pills-2"
                                  role="tab" aria-controls="v-pills-2" aria-selected="false" (click)="selectTab('volunteer')">Volunteer</a>
                          </div>
                      </div>
                      <div class="col-md-12 tab-wrap">
                          <div class="tab-content" id="v-pills-tabContent">
                              <div class="tab-pane fade show active" id="v-pills-1" role="tabpanel"
                                  aria-labelledby="v-pills-1-tab">
                                  <div class="search-property-1" >

                                    <div class="row no-gutters">
                                      <div class="col-lg d-flex">
                                        <div class="form-group p-4 border-0">
                                          <label>Trip Name</label>
                                          <input type="text" class="form-control" placeholder="Search place" [(ngModel)]="trip_Name">
                                        </div>
                                      </div>
                                      <div class="col-lg d-flex">
                                        <div class="form-group p-4">
                                          <label>Check-in Date</label>
                                          <input type="date" class="form-control" [(ngModel)]="checkInDate">
                                        </div>
                                      </div>
                                      <div class="col-lg d-flex">
                                        <div class="form-group p-4">
                                          <label>Check-out Date</label>
                                          <input type="date" class="form-control" [(ngModel)]="checkOutDate">
                                        </div>
                                      </div>
                                      <div class="col-lg d-flex">
                                        <div class="form-group p-4">
                                          <label>Min Price</label>
                                          <input type="number" class="form-control" placeholder="Min Price"  [(ngModel)]="minPrice">
                                        </div>
                                      </div>
                                      <div class="col-lg d-flex">
                                        <div class="form-group p-4">
                                          <label>Max Price</label>
                                          <input type="number" class="form-control" placeholder="Max Price"  [(ngModel)]="maxPrice">
                                        </div>
                                      </div>
                                    </div>
                                    </div>
                              </div>

                              <!-- ******************************************************************************************* -->
                              <div class="tab-pane fade" id="v-pills-2" role="tabpanel" aria-labelledby="v-pills-2-tab">
                                      <div class="row no-gutters">
                                          <div class="col-lg d-flex">
                                              <div class="form-group p-4 border-0">
                                                  <label style="color: #f15d30;">First Name</label>
                                                  <div class="form-field">
                                                      <!-- <div class="icon"><span class="fa fa-search"></span></div> -->
                                                      <input type="text" class="form-control"
                                                          placeholder="First Name" [(ngModel)]="first_Name">
                                                  </div>
                                              </div>
                                          </div>
                                          <div class="col-lg d-flex">
                                              <div class="form-group p-4">
                                                  <label style="color: #f15d30;">Last Name</label>
                                                  <div class="form-field">
                                                      <!-- <div class="icon"><span class="fa fa-calendar"></span></div> -->
                                                      <input type="text" class="form-control"
                                                          placeholder="Last Name" [(ngModel)]="last_Name">
                                                  </div>
                                              </div>
                                          </div>
                                          <div class="col-lg d-flex">
                                              <div class="form-group p-4">
                                                  <label style="color: #f15d30;">Trip Name</label>
                                                  <div class="form-field">
                                                      <!-- <div class="icon"><span class="fa fa-calendar"></span></div> -->
                                                      <input type="text" class="form-control"
                                                          placeholder="Trip Name" [(ngModel)]="trip_Name">
                                                  </div>
                                              </div>
                                          </div>
                                          <div class="col-lg d-flex">
                                            <div class="form-group p-4">
                                                <label style="color: #f15d30;">Volunteer Role</label>
                                                <div class="form-field">
                                                    <!-- <div class="icon"><span class="fa fa-calendar"></span></div> -->
                                                    <input type="text" class="form-control " placeholder="Volunteer Role" [(ngModel)]="role_Name">
                                                </div>
                                            </div>
                                        </div>
                                          <!-- <div class="col-lg d-flex">
                                              <div class="form-group d-flex w-100 border-0">
                                                  <div class="form-field w-100 align-items-center d-flex">
                                                      <input type="submit" value="Search"
                                                          class="align-self-stretch form-control btn btn-primary p-0"  (click)="searchVolunteers()">
                                                  </div>
                                              </div>
                                          </div> -->
                                      </div>
                              </div>
                              <section>
                                <app-map></app-map>
                              </section>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</section>





<!-- <input type="text" class="form-control" placeholder="Search place" [(ngModel)]="trip_Name">
<input type="date" class="form-control checkin_date" placeholder="Check In Date" [(ngModel)]="checkInDate">
<input type="date" class="form-control checkout_date" placeholder="Check Out Date" [(ngModel)]="checkOutDate">
<input type="number" class="form-control" placeholder="Min Price" [(ngModel)]="minPrice"> 
<input type="number" class="form-control" placeholder="Max Price" [(ngModel)]="maxPrice">  -->

<!-- <div>
  <input [(ngModel)]="first_Name" placeholder="First Name" />
  <input [(ngModel)]="last_Name" placeholder="Last Name" />
  <input [(ngModel)]="trip_Name" placeholder="Trip Name" />
  <input [(ngModel)]="role_Name" placeholder="Volunteer Role" />
  </div> -->

<!-- <div *ngFor="let volunteer of home.volunteer">
  <p>{{ volunteer.first_Name }} {{ volunteer.last_Name }}</p>
  <p>{{ volunteer.trip_Name }}</p>
  <p>{{ volunteer.role_Name }}</p>
</div> -->

<!-- <h1>************************************************************</h1> -->
<!-- <section class="ftco-section">
  <div class="container">
    <div class="row">
      <div *ngFor="let obj of home.AllVolunteersWithTrip | tripVolunteerFilter : first_Name: last_Name : role_Name: trip_Name" class="col-md-4">
        <div class="project-wrap">        
          <div class="text p-4">
            <span class="days">{{ obj.first_Name }} {{obj.last_Name}}</span>
            <p class="location"><span class="fa fa-map-marker"></span> {{obj.role_Name}}</p>
            <p class="location"><span class="fa fa-map-marker"></span> {{obj.trip_Name}}</p>
            <ul class="read-more-wrapper">
              <li><a (click)="showDetails(obj.trip_Id)" class="read-more-link">Read more <i class="bi bi-chevron-right"></i></a></li>
            </ul>
          </div>
        </div>
        <br><br>
      </div>     
    </div>
  </div>
</section> -->
<!-- <h1>************************************************************</h1> -->
<section class="ftco-section" *ngIf="activeTab === 'volunteer'">
  <div class="container">
    <div class="row" >
      <div *ngFor="let obj of home.AllVolunteersWithTrip | tripVolunteerFilter : first_Name: last_Name : trip_Name: role_Name" class="col-md-4">
        <div class="project-wrap">
          <a>
            <div class="img" [ngStyle]="{'background-image': 'url(../../assets/default-profile.png)'}">
            </div>
          </a>
          <!-- fallback template -->
          <ng-template #fallback>
            <div class="img" [ngStyle]="{'background-image': 'url(../../assets/images/d56b3a7d-a020-4a7f-b670-c96c627071c4_chero12.jpeg)'}">
            </div>
          </ng-template>
          <div class="text p-4">
            <span class="days">{{ obj.first_Name }} {{ obj.last_Name}}</span>
            <h5 class="title">{{obj.trip_Name}}</h5>
            <p class="location"><span class="fa fa-map-marker"></span> {{obj.role_Name}}</p>
            <ul class="read-more-wrapper">
              <li><a (click)="showDetails(obj.trip_Id)" class="read-more-link">Read more <i class="bi bi-chevron-right"></i></a></li>
            </ul>
          </div>
        </div>
      </div>
      
    </div>
  </div>
</section>



<!-- ******************************************************************************************  -->
<section class="ftco-section" *ngIf="activeTab === 'trip'">
  <div class="container">
    <div class="row">
      <div *ngFor="let obj of getPaginatedTrips() | tripFilter: trip_Name : checkInDate : checkOutDate: minPrice : maxPrice" class="col-md-4">
        <div class="project-wrap">
          <a *ngIf="obj.images.length > 0; else fallback">
            <div class="img" [ngStyle]="{'background-image': 'url(../../assets/images/' + obj.images[0].image_Name + ')'}">
              <span class="price">${{obj.trip_Price}}/Person</span>
            </div>
          </a>
          <!-- fallback template -->
          <ng-template #fallback>
            <div class="img" [ngStyle]="{'background-image': 'url(../../assets/images/d56b3a7d-a020-4a7f-b670-c96c627071c4_chero12.jpeg)'}">
              <span class="price">${{obj.trip_Price}}/Person</span>
            </div>
          </ng-template>
          <div class="text p-4">
            <span class="days">{{ getDaysDifference(obj.start_Date, obj.end_Date) }} Days Tour</span>
            <h5 class="title">{{obj.trip_Name}}</h5>
            <p class="location"><span class="fa fa-map-marker"></span> {{obj.destination_Location}}</p>
            <ul class="read-more-wrapper">
              <li><a (click)="showDetails(obj.trip_Id)" class="read-more-link">Read more <i class="bi bi-chevron-right"></i></a></li>
            </ul>
          </div>
        </div>
      </div>
      
    </div>

    <div class="row mt-5">
      <div class="col text-center">
        <div class="block-27">
          <ul>
            <li>
              <a (click)="changePage(currentPage - 1)" [class.disabled]="currentPage === 1">&lt;</a>
            </li>
            <li *ngFor="let page of [].constructor(totalPages); let i = index">
              <a (click)="changePage(i + 1)" [class.active]="currentPage === i + 1">{{i + 1}}</a>
            </li>
            <li>
              <a (click)="changePage(currentPage + 1)" [class.disabled]="currentPage === totalPages">&gt;</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="ftco-intro ftco-section ftco-no-pt">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-12 text-center">
        <div class="img" style="background-image: url(../../assets/Home/images/bg_2.jpg);">
          <div class="overlay"></div>
          <h2>We Are Pacific A Travel Agency</h2>
          <p>We can manage your dream building A small river named Duden flows by their place</p>
          <p class="mb-0"><a href="#" class="btn btn-primary px-4 py-3">Ask For A Quote</a></p>
        </div>
      </div>
    </div>
  </div>
</section>
<app-footer></app-footer>