<!DOCTYPE html>
<html lang="en">

  <body>
    <div class="container-scroller">
      <!-- partial:../../partials/_sidebar.html -->
      <app-header></app-header>
      <!-- partial -->
      <div class="container-fluid page-body-wrapper">
        <!-- partial:../../partials/_navbar.html -->
       
        <!-- partial -->
        <div class="main-panel">
          <div class="content-wrapper">
           
            <div class="row">
              
              
              <div class="col-lg-12 grid-margin stretch-card">
                <div class="card">
                  <div class="card-body">
                    <h4 class="card-title">Volunteer Table</h4>
                    <br><br>                 
                    <div class="table-responsive">
                      <table class="table table-dark">
                        <thead>
                          <tr>
                            <th> # </th>
                            <th> Volunteer Name </th>
                            <th> login Id </th>
                            <th> Trip Id </th>
                            <th> Role Id</th>
                            <th> Experience </th>
                            <th> Phone Number </th>
                            <th> Email </th>
                            <th> Notes </th>
                            <th> Emergency Contact </th>
                            <th> Date Applied </th>
                            <th> Status </th>
                            <th> Operations </th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr *ngFor="let obj of admin.Volunteer">
                            <!-- <div *ngFor="let obj of admin.Volunteer"> -->
                                <th> # </th>
                                <th> {{obj.volunteer_Id}} </th>
                                <th> {{obj.login_Id}} </th>
                                <th> {{obj.trip_Id}} </th>
                                <th> {{obj.volunteer_Role_Id}} </th>
                                <th> {{obj.experience}} </th>
                                <th> {{obj.phone_Number}} </th>
                                <th> {{obj.email}} </th>
                                <th> {{obj.notes}}</th>
                                <th> {{obj.emergency_Contact}} </th>
                                <th> {{obj.date_Applied}}</th>
                                <th> {{obj.status}}</th>
                                <td> 
                                    <button (click)="openDeleteDialog(obj.volunteer_Id)" style="background-color: rgb(247, 88, 88);">Delete</button> 
                                    <button (click)="openEditDailog(obj)" style="background-color: rgb(247, 88, 88);">Edit States</button> 

                                </td>  
                            <!-- </div>   -->
                          </tr>                                                 
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
           
            </div>
          </div>
          <!-- content-wrapper ends -->
          <!-- partial:../../partials/_footer.html -->
          
          <!-- partial -->
        </div>
        <!-- main-panel ends -->
      </div>
      <!-- page-body-wrapper ends -->
    </div>
    
  </body>
</html>




<!-- Delete Volunteer Role -->
<ng-template #callDeleteDailog>
    <h1 mat-dialog-title>Delete Volunteer</h1>
  <div mat-dialog-content>Are you sure you went to delete this item ?</div>
  <div mat-dialog-actions>
      <button mat-button mat-dialog-close="yes">Yes</button>
    <button mat-button mat-dialog-close="no">No</button>
  </div>
</ng-template>

<!-- Edit Volunteer -->
<ng-template #callEditDailog>
  <h2 mat-dialog-title>Update Volunteer</h2>
  <mat-dialog-content class="mat-typography">
    <form [formGroup]="Volunteer">
      <div class="example-container">
        <mat-form-field>
          <mat-label>Login ID</mat-label>
          <input type="text" matInput formControlName="login_Id" [ngModel]="pData.login_Id" (click)="disableField($event)">
        </mat-form-field>
      </div>     
      <div class="example-container">
        <mat-form-field>
          <mat-label>Trip ID</mat-label>
          <input type="text" matInput formControlName="trip_Id" [ngModel]="pData.trip_Id" (click)="disableField($event)">
        </mat-form-field>
      </div>     
      <div class="example-container">
        <mat-form-field>
          <mat-label>Role ID</mat-label>
          <input type="text" matInput formControlName="volunteer_Role_Id" [ngModel]="pData.volunteer_Role_Id" (click)="disableField($event)">
        </mat-form-field>
      </div>  
      <div class="example-container">
        <mat-form-field>
          <mat-label>Experience</mat-label>
          <input type="text" matInput formControlName="experience" [ngModel]="pData.experience" (click)="disableField($event)">
        </mat-form-field>
      </div>
      <div class="example-container">
        <mat-form-field>
          <mat-label>Phone Number</mat-label>
          <input type="text" matInput formControlName="phone_Number" [ngModel]="pData.phone_Number" (click)="disableField($event)">
        </mat-form-field>
      </div>
      <div class="example-container">
        <mat-form-field>
          <mat-label>Email</mat-label>
          <input type="text" matInput formControlName="email" [ngModel]="pData.email" (click)="disableField($event)">
        </mat-form-field>
      </div>
      <div class="example-container">
        <mat-form-field>
          <mat-label>Date Applied</mat-label>
          <input type="text" matInput formControlName="date_Applied" [ngModel]="pData.date_Applied" (click)="disableField($event)">
        </mat-form-field>
      </div>
      <div class="example-container">
        <mat-form-field>
          <mat-label>Notes</mat-label>
          <input type="text" matInput formControlName="notes" [ngModel]="pData.notes" (click)="disableField($event)">
        </mat-form-field>
      </div>
      <div class="example-container">
        <mat-form-field>
          <mat-label>Status</mat-label>
          <mat-select formControlName="status" [(ngModel)]="pData.status">
            <mat-option *ngFor="let status of statusList" [value]="status">{{status}}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      
    </form>
  </mat-dialog-content>
  <mat-dialog-actions align="end">
    <button mat-button mat-dialog-close>Cancel</button>
    <button mat-button [mat-dialog-close]="true" cdkFocusInitial (click)="save2()">Save</button>
  </mat-dialog-actions>
</ng-template>
