/* General Styles */
body {
  font-family: Arial, sans-serif;
  color: black;
}

/* Card Title */
.report-title {
  color: black;
  font-weight: bold;
}

/* Button Styles */
.btn {
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

/* Responsive Design */
@media (max-width: 768px) {
  .btn {
    padding: 8px 10px;
  }

  .custom-table th,
  .custom-table td {
    padding: 8px 10px;
  }

  .btn-add-category {
    width: 100%;
    float: none;
    margin-bottom: 10px;
  }
}

/* Change text color to white and background to red on hover */
.table-hover tbody tr:hover {
  background-color: #f1f4f5 !important;
  color: black;
}

.form-row {
  display: flex;
  gap: 1rem;
  margin-bottom: 1rem;
}

container2 {
  flex: 1;
  /* Distribute space equally among containers */
}

mat-form-field {
  width: 100%;
  /* Ensure fields take up full width of their containers */
}

.description-col {
  max-width: 150px;
  white-space: nowrap;
  overflow: hidden;
}

input.form-control {
  max-width: 300px;
  width: 100%;
  /* Ensures inputs take full available space within their container */
  padding-left: 30px;
  /* Adds padding to the left side to make space for the icon */
  padding: 8px;
  /* Optional: Adjust padding inside input fields */
  border: 2px solid #000;
  /* Bold border for the input field */
  transition: box-shadow 0.3s ease;
  /* Smooth transition for the shadow */
}

input.form-control:focus {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  /* Adds shadow on focus */
  border-color: #f15d30;
  /* Optional: Change border color on focus */
}