/* General Styles */
.report-title {
  color: black;
  font-weight: bold;
}

/* Custom Table Styles */
.custom-table {
  background-color: white;
  color: black;
  border: 1px solid #ddd;
}

.custom-table thead {
  background-color: #f0f0f0;
  color: black;
}

.custom-table th,
.custom-table td {
  padding: 12px 15px;
  text-align: left;
  border-bottom: 1px solid #e0e0e0;
}

/* Table Row Hover Effect */
.custom-table tbody tr:hover {
  background-color: #f9f9f9;
}

/* Optional Responsive Design */
@media (max-width: 768px) {

  .custom-table th,
  .custom-table td {
    padding: 8px 10px;
  }
}

/* General container styling */
.report-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 0px;
  font-family: Arial, sans-serif;
  color: #333;
}

.dropdown-group {
  display: flex;
  gap: 15px;
  margin-bottom: 20px;
}

.dropdown {
  display: flex;
  flex-direction: column;
}

.dropdown label {
  font-weight: bold;
  margin-bottom: 5px;
}

.styled-select {
  padding: 8px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #ffffff;
  outline: none;
}

.styled-select:focus {
  border-color: #007bff;
}

/* Highlight key values */
.highlight {
  font-weight: bold;
  color: #007bff;
}

/* Chart container styling */
.chart-container {
  margin-top: 20px;
  padding: 20px;
  background-color: #ffffff;
  border-radius: 8px;
  text-align: center;
}

h3 {
  font-size: 24px;
  color: #333;
  margin-bottom: 10px;
}

.no-data {
  text-align: center;
  color: #999;
  font-style: italic;
}

/* Button styling */
.btn-download {
  display: inline-block;
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  color: #fff;
  background-color: #007bff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btn-download:hover {
  background-color: #0056b3;
}

#dailyRevenueChart {
  background-color: white;
}

.pdf-buttons {
  display: flex;
  justify-content: center;
}

.btn-download-pdf {
  margin-right: 10px;
  margin-left: 10px;
}

.btn-download-excel {
  margin-right: 10px;
  margin-left: 10px;
}