<div class="container-scroller" style="background-color: #2E2E2E; max-height: 100vh; max-height: 100vw;">
  <app-header></app-header>
  <div class="container-fluid page-body-wrapper" style=" max-height: 100vh; overflow-y: auto; overflow-x: hidden;">
    <div class="main-panel">
      <div class="content-wrapper"  style="max-height: 100vh; overflow-y: auto; overflow-x: auto;">        
        <div class="row">         
          <div class="col-lg-12 grid-margin stretch-card">
            <div class="card">
              <div class="card-body">
                <h4 class="card-title report-title" style="color: black;">Service Table</h4>
                <button mat-button (click)="openCreateDialog()">
                  <i class="bi bi-plus-circle-fill fs-1" style="color: rgb(0,193,83); font-size: 30px; margin-left: 900px;"></i>
                </button>
                <br><br>                 
                <div class="table-responsive" >
                  <table class="table custom-table">
                    <thead>
                      <tr>
                        <th style="color: black;"><b>Service Name</b></th>
                        <th style="color: black;"><b>Service Cost</b></th>
                        <th style="color: black;"><b>Operations</b></th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let obj of admin.Services">
                        <td>{{obj.service_Name}}</td>
                        <td>{{obj.service_Cost}}</td>
                        <td>
                            <button (click)="openEditDailog(obj)" style="border: none;">
                              <i class="bi bi-pencil-square" style="color: blue; font-size: 20px;"></i>
                            </button>
                            <button (click)="openDeleteDialog(obj.service_Id)" style="border: none;">
                              <i class="bi bi-trash-fill" style="color: red; font-size: 20px;"></i>
                            </button> 
                        </td>                          
                      </tr>                                                 
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>          
        </div>
      </div>
    </div>
  </div>
</div>
