::ng-deep .mat-dialog-container {
    max-width: 600px;
    width: 500px;
}

::ng-deep .mat-form-field-underline {
    background-color: #f15d30 !important;
}

::ng-deep .mat-form-field-appearance-outline.mat-focused .mat-form-field-outline-thick,
::ng-deep .mat-form-field-appearance-fill.mat-focused .mat-form-field-ripple {
    background-color: #f15d30 !important;
    border-color: #f15d30 !important;
}

::ng-deep .mat-form-field.mat-focused .mat-form-field-label {
    color: #f15d30 !important;
}

.example-container {
    width: 500px;
}

mat-form-field {
    width: 500px;
    margin-bottom: 15px;
}

mat-dialog-content {
    padding: 15px 24px;
}

mat-dialog-actions {
    padding: 12px 24px;
    border-top: 1px solid #ddd;
}

button[mat-button] {
    color: #f15d30;
}

.dialog-title {
    text-align: center;
    width: 100%;
    font-size: 1.5em;
    font-weight: bold;
    margin-bottom: 10px;
}

.star-rating {
    font-size: 24px;
}

.star-rating span {
    cursor: pointer;
    color: lightgray;
}

.star-rating span.filled {
    color: gold;
}