<nav class="sidebar sidebar-offcanvas" style="overflow-y: auto; max-height: 100vh;">
  <div class="sidebar-brand-wrapper d-none d-lg-flex align-items-center justify-content-center fixed-top">
    <a class="sidebar-brand brand-logo" href="#"><img src="../../../assets/Admin2/images/logo.svg" alt="logo" /></a>
    <a class="sidebar-brand brand-logo-mini" href="#"><img src="../../../assets/Admin2/images/logo-mini.svg"
        alt="logo" /></a>
  </div>
  <ul class="nav" [ngClass]="{'collapse': !menu, 'show': menu}">
    <li class="nav-item profile">
      <div class="profile-desc">
        <div class="profile-pic">
          <div class="count-indicator">
            <img class="img-xs rounded-circle "
              [src]="this.admin.UserInfo.image_Path ? '../../../../assets/images/' + this.admin.UserInfo.image_Path : '../../../../assets/default-profile.png'"
              alt="">
            <span class="count bg-success"></span>
          </div>
          <div class="profile-name">
            <h5 class="mb-0 font-weight-normal gold-member">{{this.admin.UserInfo.first_Name}}
              {{this.admin.UserInfo.last_Name}}</h5>
            <span>{{this.admin.UserInfo.role_Name}}</span>
          </div>
        </div>
        <a href="#" id="profile-dropdown" data-toggle="dropdown"><i class="mdi mdi-dots-vertical"></i></a>
        <div class="dropdown-menu dropdown-menu-right sidebar-dropdown preview-list" aria-labelledby="profile-dropdown">
          <a href="#" routerLink="/admin/AdminProfile" class="dropdown-item preview-item">
            <div class="preview-thumbnail">
              <div class="preview-icon bg-dark rounded-circle">
                <i class="mdi mdi-settings text-primary"></i>
              </div>
            </div>
            <div class="preview-item-content">
              <p class="preview-subject ellipsis mb-1 text-small">Account settings</p>
            </div>
          </a>
        </div>
      </div>
    </li>
    <li class="nav-item nav-category">
      <span class="nav-link">Navigation</span>
    </li>
    <li class="nav-item menu-items">
      <a class="nav-link" routerLink="/admin/dashboard">
        <span class="menu-icon">
          <i class="mdi mdi-speedometer"></i>
        </span>
        <span class="menu-title">Dashboard</span>
      </a>
    </li>
    <li class="nav-item menu-items">
      <a class="nav-link" routerLink="/admin/TripsInformation">
        <span class="menu-icon">
          <i class="mdi mdi-speedometer"></i>
        </span>
        <span class="menu-title">Manages Trips</span>
      </a>
    </li>
    <li class="nav-item menu-items">
      <a class="nav-link" (click)="isCollapse = !isCollapse">
        <span class="menu-icon">
          <i class="mdi mdi-laptop"></i>
        </span>
        <span class="menu-title">Basic UI Elements</span>
        <i class="menu-arrow"></i>
      </a>
      <div [ngClass]="{'collapse': !isCollapse, 'show': isCollapse}">
        <ul class="nav flex-column sub-menu">
          <li class="nav-item"> <a class="nav-link" routerLink="/admin/ManageHome">Home page elements</a></li>
          <li class="nav-item"> <a class="nav-link" routerLink="/admin/ManageContact">Contactus elements</a></li>
          <li class="nav-item"> <a class="nav-link" routerLink="/admin/ManageAbout">Aboutus elements</a></li>
          <li class="nav-item"> <a class="nav-link" routerLink="/admin/ManageWebsiteInfo">Website information
              elements</a></li>
        </ul>
      </div>
    </li>
    <li class="nav-item menu-items">
      <a class="nav-link" (click)="isCollaps = !isCollaps">
        <span class="menu-icon">
          <i class="mdi mdi-chart-bar"></i>
        </span>
        <span class="menu-title">Reports</span>
        <i class="menu-arrow"></i>
      </a>
      <div [ngClass]="{'collapse': !isCollaps, 'show': isCollaps}">
        <ul class="nav flex-column sub-menu">
          <li class="nav-item"> <a class="nav-link" routerLink="/admin/ManageAnuualReport"> Anuual Report </a></li>
          <li class="nav-item"> <a class="nav-link" routerLink="/admin/ManageMonthlyReport"> Monthly Report </a></li>
        </ul>
      </div>
    </li>
    <li class="nav-item menu-items">
      <a class="nav-link" routerLink="/admin/AllUsers">
        <span class="menu-icon">
          <i class="mdi mdi-speedometer"></i>
        </span>
        <span class="menu-title">All Users</span>
      </a>
    </li>
    <li class="nav-item menu-items">
      <a class="nav-link" routerLink="/admin/ContactUsMessages">
        <span class="menu-icon">
          <i class="mdi mdi-speedometer"></i>
        </span>
        <span class="menu-title">All ContactUs</span>
      </a>
    </li>
    <li class="nav-item menu-items">
      <a class="nav-link" routerLink="/admin/ManageReview">
        <span class="menu-icon">
          <i class="mdi mdi-speedometer"></i>
        </span>
        <span class="menu-title">All Reviews</span>
      </a>
    </li>
    <li class="nav-item menu-items">
      <a class="nav-link" routerLink="/admin/ManageTestimonial">
        <span class="menu-icon">
          <i class="mdi mdi-speedometer"></i>
        </span>
        <span class="menu-title">All Testimonial</span>
      </a>
    </li>
    <li class="nav-item menu-items">
      <a class="nav-link" routerLink="/admin/ManageVolunteer">
        <span class="menu-icon">
          <i class="mdi mdi-speedometer"></i>
        </span>
        <span class="menu-title">All Volunteers</span>
      </a>
    </li>
    <li class="nav-item menu-items">
      <a class="nav-link" (click)="isCollapsed = !isCollapsed">
        <span class="menu-icon">
          <i class="mdi mdi-table-large"></i>
        </span>
        <span class="menu-title">Trip Component</span>
        <i class="menu-arrow"></i>
      </a>
      <div [ngClass]="{'collapse': !isCollapsed, 'show': isCollapsed}">
        <ul class="nav flex-column sub-menu">
          <li class="nav-item"> <a class="nav-link" routerLink="/admin/ManageCategories">Categories</a></li>
          <li class="nav-item"> <a class="nav-link" routerLink="/admin/ManageServices">Service</a></li>
          <li class="nav-item"> <a class="nav-link" routerLink="/admin/ManageVolunteerRole">Volunteer Roles</a></li>
        </ul>
      </div>
    </li>
  </ul>
</nav>
<nav class="navbar p-0 fixed-top d-flex flex-row">
  <div class="navbar-brand-wrapper d-flex d-lg-none align-items-center justify-content-center">
    <a class="navbar-brand brand-logo-mini" href="index.html"><img src="../../../assets/Admin2/images/logo-mini.svg"
        alt="logo" /></a>
  </div>
  <div class="navbar-menu-wrapper flex-grow d-flex align-items-stretch">
    <button class="navbar-toggler navbar-toggler align-self-center" type="button" (click)="menu = !menu">
      <span class="mdi mdi-menu"></span>
    </button>
    <ul class="navbar-nav navbar-nav-right">
      <li class="nav-item dropdown d-none d-lg-block">
        <a class="nav-link btn btn-success create-new-button" id="createbuttonDropdown" data-toggle="dropdown"
          aria-expanded="false" routerLink="/admin/CreateTrip">+ Create New Trip</a>
      </li>
      <li class="nav-item nav-settings d-none d-lg-block">
        <a class="nav-link" routerLink="/home">
          <i class="mdi mdi-home" style="font-size: 38px;"></i>
        </a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link" id="profileDropdown" href="#" data-toggle="dropdown">
          <div class="navbar-profile">
            <img class="img-xs rounded-circle"
              [src]="this.admin.UserInfo.image_Path ? '../../../../assets/images/' + this.admin.UserInfo.image_Path : '../../../../assets/default-profile.png'"
              alt="">
            <p class="mb-0 d-none d-sm-block navbar-profile-name">{{this.admin.UserInfo.first_Name}}
              {{this.admin.UserInfo.last_Name}} </p>
            <i class="mdi mdi-menu-down d-none d-sm-block"></i>
          </div>
        </a>
        <div class="dropdown-menu dropdown-menu-right navbar-dropdown preview-list" aria-labelledby="profileDropdown">
          <h6 class="p-3 mb-0">Profile</h6>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item preview-item" routerLink="/admin/AdminProfile">
            <div class="preview-thumbnail">
              <div class="preview-icon bg-dark rounded-circle">
                <i class="mdi mdi-settings text-success"></i>
              </div>
            </div>
            <div class="preview-item-content">
              <p class="preview-subject mb-1">Settings</p>
            </div>
          </a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item preview-item" (click)="logout()">
            <div class="preview-thumbnail">
              <div class="preview-icon bg-dark rounded-circle">
                <i class="mdi mdi-logout text-danger"></i>
              </div>
            </div>
            <div class="preview-item-content">
              <p class="preview-subject mb-1">Log out</p>
            </div>
          </a>
          <div class="dropdown-divider"></div>
          <p class="p-3 mb-0 text-center">Advanced settings</p>
        </div>
      </li>
    </ul>
    <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button"
      data-toggle="offcanvas">
      <span class="mdi mdi-format-line-spacing"></span>
    </button>
  </div>
</nav>