/* General Styles */
body {
  font-family: Arial, sans-serif;
  color: black;
}

/* Card Title */
.report-title {
  color: black;
  font-weight: bold;
}

/* Button Styles */
.btn {
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.btn-add-category {
  background-color: #3fd33f;
  color: white;
  float: right;
  /* Align button to the right */
  margin-bottom: 15px;
  /* Add some space below the button */
  margin-right: 70px;
}

.btn-edit {
  background-color: #3232cf;
  color: white;
}

.btn-delete {
  background-color: #c73333;
  color: white;
}

/* Custom Table Styles */
.custom-table {
  background-color: white;
  color: black;
  width: 100%;
  border-collapse: collapse;
}

/* Dark Table Header */
.custom-table thead {
  color: white;
}

.custom-table th {
  padding: 12px 15px;
  text-align: left;
  border-bottom: 2px solid #444;
}

/* Table Body Styling */
.custom-table tbody tr {
  border-bottom: 1px solid #ddd;
}

.custom-table td {
  padding: 12px 15px;
  text-align: left;
}

/* Table Row Hover Effect */
.custom-table tbody tr:hover {
  background-color: #f1f1f1;
}

/* Mat-Form Field Styling */
.example-container mat-form-field {
  width: 100%;
}

/* Responsive Design */
@media (max-width: 768px) {
  .btn {
    padding: 8px 10px;
  }

  .custom-table th,
  .custom-table td {
    padding: 8px 10px;
  }

  .btn-add-category {
    width: 100%;
    float: none;
    margin-bottom: 10px;
  }
}

.description-col {
  max-width: 150px;
  white-space: nowrap;
  overflow: hidden;
}