:root {
    --admin-background-color: #2e2e2e;

    --admin-card-background-color: #ffffff !important;

    --admin-background-color-under-card: #F9F9F9 !important;
    --admin-button-color:#FF8E49;
    --admin-selection-color:rgb(241, 74, 61);

  }


