<app-navbar></app-navbar>
<div class="hero-wrap js-fullheight" style="background-image: url('assets/images/{{home.selectedHome.hero_Image}}');">
  <div class="overlay"></div>
  <div class="container">
    <div class="row no-gutters slider-text js-fullheight align-items-center" data-scrollax-parent="true">
      <div class="col-md-7 ftco-animate">
        <span class="subheading">{{home.selectedHome.header}}</span>
        <h1 class="mb-4">{{home.selectedHome.title}}</h1>
        <p class="caps">{{home.selectedHome.text1}}</p>
      </div>
    </div>
  </div>
</div>
<section class="ftco-section ftco-no-pb ftco-no-pt">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="ftco-search d-flex justify-content-center">
          <div class="row">
            <div class="col-md-12 nav-link-wrap">
              <div class="nav nav-pills text-center" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                <a class="nav-link active mr-md-1" id="v-pills-1-tab" data-toggle="pill" href="#v-pills-1" role="tab"
                  aria-controls="v-pills-1" aria-selected="true" (click)="setActiveTab('trip')">
                  Trip
                </a>
                <a class="nav-link" id="v-pills-2-tab" data-toggle="pill" href="#v-pills-2" role="tab"
                  aria-controls="v-pills-2" aria-selected="false" (click)="setActiveTab('volunteer')">
                  Volunteer
                </a>
              </div>

            </div>
            <div class="col-md-12 tab-wrap">
              <div class="tab-content" id="v-pills-tabContent">
                <div class="tab-pane fade show" id="v-pills-1" role="tabpanel"
                  [ngClass]="{'show active': activeTab === 'trip'}">

                  <div class="search-property-1">

                    <form (ngSubmit)="onSearch()">
                      <div class="row no-gutters">
                        <div class="col-lg d-flex">
                          <div class="form-group p-4 border-0">
                            <label>Trip Name</label>
                            <input type="text" class="form-control" placeholder="Search place" [(ngModel)]="trip_Name"
                              name="trip_Name">
                          </div>
                        </div>
                        <div class="col-lg d-flex">
                          <div class="form-group p-4">
                            <label>Check-in Date</label>
                            <input type="date" class="form-control" [(ngModel)]="checkInDate" name="checkInDate">
                          </div>
                        </div>
                        <div class="col-lg d-flex">
                          <div class="form-group p-4">
                            <label>Check-out Date</label>
                            <input type="date" class="form-control" [(ngModel)]="checkOutDate" name="checkOutDate">
                          </div>
                        </div>
                        <div class="col-lg d-flex">
                          <div class="form-group p-4">
                            <label>Min Price</label>
                            <input type="number" class="form-control" placeholder="Min Price" [(ngModel)]="minPrice"
                              name="minPrice">
                          </div>
                        </div>
                        <div class="col-lg d-flex">
                          <div class="form-group p-4">
                            <label>Max Price</label>
                            <input type="number" class="form-control" placeholder="Max Price" [(ngModel)]="maxPrice"
                              name="maxPrice">
                          </div>
                        </div>
                        <div class="col-lg d-flex">
                          <div class="form-group d-flex w-100 border-0">
                            <button type="submit" class="form-control btn btn-primary">Search</button>
                          </div>
                        </div>
                      </div>
                    </form>


                  </div>
                </div>

                <div class="tab-pane fade" id="v-pills-2" role="tabpanel" aria-labelledby="v-pills-2-tab"
                  [ngClass]="{'show active': activeTab === 'volunteer'}">
                  <form>
                    <div class="row no-gutters">
                      <div class="col-lg d-flex">
                        <div class="form-group p-4 border-0">
                          <label>First Name</label>
                          <input type="text" class="form-control" [(ngModel)]="first_Name" name="first_Name"
                            placeholder="First Name">
                        </div>
                      </div>
                      <div class="col-lg d-flex">
                        <div class="form-group p-4">
                          <label>Last Name</label>
                          <input type="text" class="form-control" [(ngModel)]="last_Name" name="last_Name"
                            placeholder="Last Name">
                        </div>
                      </div>
                      <div class="col-lg d-flex">
                        <div class="form-group p-4">
                          <label>Trip Name</label>
                          <input type="text" class="form-control" [(ngModel)]="trip_Name" name="trip_Name"
                            placeholder="Trip Name">
                        </div>
                      </div>
                      <div class="col-lg d-flex">
                        <div class="form-group p-4">
                          <label>Volunteer Role</label>
                          <input type="text" class="form-control" [(ngModel)]="role_Name" name="role_Name"
                            placeholder="Volunteer Role">
                        </div>
                      </div>
                      <div class="col-lg d-flex">
                        <button (click)="navigateToTripPage('volunteer')"
                          class="form-control btn btn-primary">Search</button>
                      </div>
                    </div>
                  </form>

                </div>
                <section>
                </section>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>



<section class="ftco-section services-section">
  <div class="container">
    <div class="row d-flex">
      <div class="col-md-6 order-md-last heading-section pl-md-5 ftco-animate d-flex align-items-center">
        <div class="w-100">
          <span class="subheading">{{home.selectedAboutus.header2}}</span>
          <h2 class="mb-4" style="font-size: large;">{{home.selectedAboutus.title2}}</h2>
          <p>{{home.selectedAboutus.aboutus}}</p>
          <p><a href="#" class="btn btn-primary py-3 px-4">Search Destination</a></p>
        </div>
      </div>
      <div class="col-md-6">
        <div class="row">
          <div class="col-md-12 col-lg-6 d-flex align-self-stretch ftco-animate">
            <div class="services services-1 color-1 d-block img"
              style="background-image: url(../../assets/images/{{home.selectedAboutus.image1}});">
              <div class="icon d-flex align-items-center justify-content-center"><span
                  class="flaticon-paragliding"></span></div>
              <div class="media-body">
                <h3 class="heading mb-3">{{home.selectedAboutus.feature1_header}}</h3>
                <p>{{home.selectedAboutus.feature1}}</p>
              </div>
            </div>
          </div>
          <div class="col-md-12 col-lg-6 d-flex align-self-stretch ftco-animate">
            <div class="services services-1 color-2 d-block img"
              style="background-image: url(../../assets/images/{{home.selectedAboutus.image2}});">
              <div class="icon d-flex align-items-center justify-content-center"><span class="flaticon-route"></span>
              </div>
              <div class="media-body">
                <h3 class="heading mb-3">{{home.selectedAboutus.feature2_header}}</h3>
                <p>{{home.selectedAboutus.feature2}}</p>
              </div>
            </div>
          </div>
          <div class="col-md-12 col-lg-6 d-flex align-self-stretch ftco-animate">
            <div class="services services-1 color-3 d-block img"
              style="background-image: url(../../assets/images/{{home.selectedAboutus.image3}});">
              <div class="icon d-flex align-items-center justify-content-center"><span
                  class="flaticon-tour-guide"></span></div>
              <div class="media-body">
                <h3 class="heading mb-3">{{home.selectedAboutus.feature3_header}}</h3>
                <p>{{home.selectedAboutus.feature3}}</p>
              </div>
            </div>
          </div>
          <div class="col-md-12 col-lg-6 d-flex align-self-stretch ftco-animate">
            <div class="services services-1 color-4 d-block img"
              style="background-image: url(../../assets/images/{{home.selectedAboutus.image4}});">
              <div class="icon d-flex align-items-center justify-content-center"><span class="flaticon-map"></span>
              </div>
              <div class="media-body">
                <h3 class="heading mb-3">{{home.selectedAboutus.feature4_header}}</h3>
                <p>{{home.selectedAboutus.feature4}}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- 
<section class=" img ftco-select-destination" style="background-image: url(assets/Home/images/bg_3.jpg);">
  <div class="container">
    <div class="row justify-content-center pb-4">
      <div class="col-md-12 heading-section text-center">
        <span class="subheading">Pacific Provide Places</span>
        <h2 class="mb-4">Select Your Destination</h2>
      </div>
    </div>
  </div>
</section> -->


      
<section class="ftco-section">
  <div class="container">
    <div class="row justify-content-center pb-4">
      <div class="col-md-12 heading-section text-center ftco-animate">
        <span class="subheading">Explore the Jordan of Tourism</span>
        <h2 class="mb-4">our category</h2>
      </div>
    </div>
    <div class="container">
      <div class="row d-flex">
        <div *ngFor="let obj of home.GetCategoryWithImageAndTrips" class="col-md-4 d-flex ">
          <div class="blog-entry justify-content-end">
            <a href="blog-single.html" class="block-20"
              [style.backgroundImage]="'url(../../assets/images/' + obj.images + ')'">
            </a>
            <div class="text">
              <!-- <div class="d-flex align-items-center mb-4 topp">
                      <div class="one">
                        <span class="day">11</span>
                      </div>
                      <div class="two">
                        <span class="yr">2020</span>
                        <span class="mos">September</span>
                      </div>
                    </div> -->
              <h3 class="heading subheading" style="color: #f15d30 ;">{{obj.category_Name}}</h3>
              <p>{{obj.text}}</p>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</section>




<section class="ftco-section">
  <div class="container">
    <div class="row justify-content-center pb-4">
      <div class="col-md-12 heading-section text-center ftco-animate">
        <span class="subheading">Most</span>
        <h2 class="mb-4">Popular Trips</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4" *ngFor="let obj of home.topRatedTrips">
        <div class="project-wrap">
          <a *ngIf="obj.ImageName; else fallback">
            <div class="img" [ngStyle]="{'background-image': 'url(../../assets/images/' + obj.image_Name + ')'}">
              <span class="price">${{obj.trip_Price}}/Person</span>
            </div>
          </a>
          <!-- fallback template -->
          <ng-template #fallback>
            <div class="img" [ngStyle]="{'background-image': 'url(../../assets/images/' + obj.image_Name + ')'}">
              <span class="price">${{obj.trip_Price}}/Person</span>
            </div>
          </ng-template>
          <div class="text p-4">
            <span class="days">{{ getDaysDifference(obj.start_Date, obj.end_Date) }} Days Tour</span>
            <h5 class="title">{{obj.trip_Name}}</h5>
            <p class="location"><span class="fa fa-map-marker"></span> {{obj.destination_Location}}</p>
            <ul class="read-more-wrapper">
              <li><a (click)="showDetails(obj.trip_Id)" class="read-more-link">Read more <i
                    class="bi bi-chevron-right"></i></a></li>
            </ul>
          </div>

        </div>

      </div>
    </div>
  </div>
</section>



<!-- <section class="ftco-section">
  <div class="container">
    <div class="row justify-content-center pb-4">
      <div class="col-md-12 heading-section text-center ftco-animate">
        <span class="subheading">Our Blog</span>
        <h2 class="mb-4">Recent Post</h2>
      </div>
    </div>
    <div class="row d-flex">
      <div class="col-md-4 d-flex ftco-animate">
        <div class="blog-entry justify-content-end">
          <a href="blog-single.html" class="block-20" style="background-image: url('assets/Home/images/image_1.jpg');">
          </a>
          <div class="text">
            <div class="d-flex align-items-center mb-4 topp">
              <div class="one">
                <span class="day">11</span>
              </div>
              <div class="two">
                <span class="yr">2020</span>
                <span class="mos">September</span>
              </div>
            </div>
            <h3 class="heading"><a href="#">Most Popular Place In This World</a></h3>
            <p><a href="#" class="btn btn-primary">Read more</a></p>
          </div>
        </div>
      </div>
      <div class="col-md-4 d-flex ftco-animate">
        <div class="blog-entry justify-content-end">
          <a href="blog-single.html" class="block-20" style="background-image: url('assets/Home/images/image_2.jpg');">
          </a>
          <div class="text">
            <div class="d-flex align-items-center mb-4 topp">
              <div class="one">
                <span class="day">11</span>
              </div>
              <div class="two">
                <span class="yr">2020</span>
                <span class="mos">September</span>
              </div>
            </div>
            <h3 class="heading"><a href="#">Most Popular Place In This World</a></h3>
            <p><a href="#" class="btn btn-primary">Read more</a></p>
          </div>
        </div>
      </div>
      <div class="col-md-4 d-flex fadeIn ftco-animated">
        <div class="blog-entry">
          <a href="blog-single.html" class="block-20" style="background-image: url('assets/Home/images/image_3.jpg');">
          </a>
          <div class="text">
            <div class="d-flex align-items-center mb-4 topp">
              <div class="one">
                <span class="day">11</span>
              </div>
              <div class="two">
                <span class="yr">2020</span>
                <span class="mos">September</span>
              </div>
            </div>
            <h3 class="heading"><a href="#">Most Popular Place In This World</a></h3>
            <p><a href="#" class="btn btn-primary">Read more</a></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section> -->

<section class="ftco-section ftco-about img"
  style="background-image: url(../../assets/images/{{home.selectedAboutus.image6}});">
  <div class="overlay"></div>
  <div class="container py-md-5">
    <div class="row py-md-5">
      <div class="col-md d-flex align-items-center justify-content-center">

      </div>
    </div>
  </div>
</section>

<section class="ftco-section ftco-about ftco-no-pt img">
  <div class="container">
    <div class="row d-flex">
      <div class="col-md-12 about-intro">
        <div class="row">
          <div class="col-md-6 d-flex align-items-stretch">
            <div class="img d-flex w-100 align-items-center justify-content-center"
              style="background-image: url(../../assets/images/{{home.selectedAboutus.image5}});">
            </div>
          </div>
          <div class="col-md-6 pl-md-5 py-5">
            <div class="row justify-content-start pb-3">
              <div class="col-md-12 heading-section ftco-animate">
                <ng-container>
                  <span class="subheading">{{home.selectedAboutus.title}}</span>
                  <h2 class="mb-4">{{home.selectedAboutus.header3}}</h2>
                  <p>{{home.selectedAboutus.text1}}</p>
                  <p><a href="#" class="btn btn-primary">Book Your Destination</a></p>
                </ng-container>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<app-testimonial-element></app-testimonial-element>

<br>
<section class="ftco-intro ftco-section ftco-no-pt">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-12 text-center">
        <div class="img" style="background-image: url(assets/Home/images/bg_2.jpg);">
          <div class="overlay"></div>
          <h2>Embark on a Journey of a Lifetime</h2>
          <p>Let us craft an unforgettable experience where adventure and culture blend seamlessly</p>
          <p class="mb-0">
            <a routerLink="/contactus" fragment="contactusForm" class="btn btn-primary px-4 py-3">Ask we</a>
          </p>
                  </div>
      </div>
    </div>
  </div>
</section>
<app-footer></app-footer>