 <app-navbar></app-navbar>
    <div class="hero-wrap js-fullheight" style="background-image: url('assets/images/{{home.selectedHome.hero_Image}}');">
        <div class="overlay"></div>
        <div class="container">
            <div class="row no-gutters slider-text js-fullheight align-items-center" data-scrollax-parent="true">
                <div class="col-md-7 ftco-animate">
                    <span class="subheading">{{home.selectedHome.header}}</span>
                    <h1 class="mb-4">{{home.selectedHome.title}}</h1>
                    <p class="caps">{{home.selectedHome.text1}}</p>
                </div>
            </div>
        </div>
    </div>
    <section class="ftco-section ftco-no-pb ftco-no-pt">
      <div class="container">
          <div class="row">
              <div class="col-md-12">
                  <div class="ftco-search d-flex justify-content-center">
                      <div class="row">
                          <div class="col-md-12 nav-link-wrap">
                            <div class="nav nav-pills text-center" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                              <a
                                class="nav-link active mr-md-1"
                                id="v-pills-1-tab"
                                data-toggle="pill"
                                href="#v-pills-1"
                                role="tab"
                                aria-controls="v-pills-1"
                                aria-selected="true"
                                (click)="setActiveTab('trip')"
                              >
                                Trip
                              </a>
                              <a
                                class="nav-link"
                                id="v-pills-2-tab"
                                data-toggle="pill"
                                href="#v-pills-2"
                                role="tab"
                                aria-controls="v-pills-2"
                                aria-selected="false"
                                (click)="setActiveTab('volunteer')"
                              >
                                Volunteer
                              </a>
                            </div>
                            
                          </div>
                          <div class="col-md-12 tab-wrap">
                              <div class="tab-content" id="v-pills-tabContent">
                                <div class="tab-pane fade show"  id="v-pills-1" role="tabpanel" [ngClass]="{'show active': activeTab === 'trip'}">

                                  <!-- <div class="tab-pane fade show active" id="v-pills-1" role="tabpanel" aria-labelledby="v-pills-1-tab"> -->
                                      <div class="search-property-1" >
    
                                        <form (ngSubmit)="onSearch()">
                                          <div class="row no-gutters">
                                            <div class="col-lg d-flex">
                                              <div class="form-group p-4 border-0">
                                                <label>Trip Name</label>
                                                <input type="text" class="form-control" placeholder="Search place" [(ngModel)]="trip_Name" name="trip_Name">
                                              </div>
                                            </div>
                                            <div class="col-lg d-flex">
                                              <div class="form-group p-4">
                                                <label>Check-in Date</label>
                                                <input type="date" class="form-control" [(ngModel)]="checkInDate" name="checkInDate">
                                              </div>
                                            </div>
                                            <div class="col-lg d-flex">
                                              <div class="form-group p-4">
                                                <label>Check-out Date</label>
                                                <input type="date" class="form-control" [(ngModel)]="checkOutDate" name="checkOutDate">
                                              </div>
                                            </div>
                                            <div class="col-lg d-flex">
                                              <div class="form-group p-4">
                                                <label>Min Price</label>
                                                <input type="number" class="form-control" placeholder="Min Price" [(ngModel)]="minPrice" name="minPrice">
                                              </div>
                                            </div>
                                            <div class="col-lg d-flex">
                                              <div class="form-group p-4">
                                                <label>Max Price</label>
                                                <input type="number" class="form-control" placeholder="Max Price" [(ngModel)]="maxPrice" name="maxPrice">
                                              </div>
                                            </div>
                                            <div class="col-lg d-flex">
                                              <div class="form-group d-flex w-100 border-0">
                                                <button type="submit" class="form-control btn btn-primary">Search</button>
                                              </div>
                                            </div>
                                          </div>
                                        </form>
                                        
                                        
                                        </div>
                                  </div>
    
                                  <!-- ******************************************************************************************* -->
                                  <div class="tab-pane fade" id="v-pills-2" role="tabpanel" aria-labelledby="v-pills-2-tab" [ngClass]="{'show active': activeTab === 'volunteer'}">
                                    <!-- <div class="tab-pane fade"  id="v-pills-2" role="tabpanel" aria-labelledby="v-pills-2-tab" role="tabpanel" > -->
                                    <form >
                                      <div class="row no-gutters">
                                        <div class="col-lg d-flex">
                                          <div class="form-group p-4 border-0">
                                            <label>First Name</label>
                                            <input type="text" class="form-control" [(ngModel)]="first_Name" name="first_Name" placeholder="First Name">
                                          </div>
                                        </div>
                                        <div class="col-lg d-flex">
                                          <div class="form-group p-4">
                                            <label>Last Name</label>
                                            <input type="text" class="form-control" [(ngModel)]="last_Name" name="last_Name" placeholder="Last Name">
                                          </div>
                                        </div>
                                        <div class="col-lg d-flex">
                                          <div class="form-group p-4">
                                            <label>Trip Name</label>
                                            <input type="text" class="form-control" [(ngModel)]="trip_Name" name="trip_Name" placeholder="Trip Name">
                                          </div>
                                        </div>
                                        <div class="col-lg d-flex">
                                          <div class="form-group p-4">
                                            <label>Volunteer Role</label>
                                            <input type="text" class="form-control" [(ngModel)]="role_Name" name="role_Name" placeholder="Volunteer Role">
                                          </div>
                                        </div>
                                        <div class="col-lg d-flex">
                                          <button (click)="navigateToTripPage('volunteer')" class="form-control btn btn-primary">Search</button>
                                        </div>
                                      </div>
                                    </form>
                                    
                                  </div>
                                  <section>
                                  </section>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
    </section>
    


    <section class="ftco-section services-section">
      <div class="container">
        <div class="row d-flex">
          <div class="col-md-6 order-md-last heading-section pl-md-5 ftco-animate d-flex align-items-center">
           <div class="w-100">
            <span class="subheading">{{home.selectedAboutus.header2}}</span>
            <h2 class="mb-4" style="font-size: large;">{{home.selectedAboutus.title2}}</h2>
            <p>{{home.selectedAboutus.aboutus}}</p>
            <p><a href="#" class="btn btn-primary py-3 px-4">Search Destination</a></p>
          </div>
        </div>
        <div class="col-md-6">
         <div class="row">
          <div class="col-md-12 col-lg-6 d-flex align-self-stretch ftco-animate">
            <div class="services services-1 color-1 d-block img" style="background-image: url(../../assets/images/{{home.selectedAboutus.image1}});">
              <div class="icon d-flex align-items-center justify-content-center"><span class="flaticon-paragliding"></span></div>
              <div class="media-body">
                <h3 class="heading mb-3">{{home.selectedAboutus.feature1_header}}</h3>
                <p>{{home.selectedAboutus.feature1}}</p>
              </div>
            </div>      
          </div>
          <div class="col-md-12 col-lg-6 d-flex align-self-stretch ftco-animate">
            <div class="services services-1 color-2 d-block img" style="background-image: url(../../assets/images/{{home.selectedAboutus.image2}});">
              <div class="icon d-flex align-items-center justify-content-center"><span class="flaticon-route"></span></div>
              <div class="media-body">
                <h3 class="heading mb-3">{{home.selectedAboutus.feature2_header}}</h3>
                <p>{{home.selectedAboutus.feature2}}</p>
              </div>
            </div>    
          </div>
          <div class="col-md-12 col-lg-6 d-flex align-self-stretch ftco-animate">
            <div class="services services-1 color-3 d-block img" style="background-image: url(../../assets/images/{{home.selectedAboutus.image3}});">
              <div class="icon d-flex align-items-center justify-content-center"><span class="flaticon-tour-guide"></span></div>
              <div class="media-body">
                <h3 class="heading mb-3">{{home.selectedAboutus.feature3_header}}</h3>
                <p>{{home.selectedAboutus.feature3}}</p>
              </div>
            </div>      
          </div>
          <div class="col-md-12 col-lg-6 d-flex align-self-stretch ftco-animate">
            <div class="services services-1 color-4 d-block img" style="background-image: url(../../assets/images/{{home.selectedAboutus.image4}});">
              <div class="icon d-flex align-items-center justify-content-center"><span class="flaticon-map"></span></div>
              <div class="media-body">
                <h3 class="heading mb-3">{{home.selectedAboutus.feature4_header}}</h3>
                <p>{{home.selectedAboutus.feature4}}</p>
              </div>
            </div>      
          </div>
        </div>
      </div>
    </div>
    </div>
    </section>
          


    <section class="ftco-section">
      <div class="container">
          <div class="row justify-content-center pb-4">
              <div class="col-md-12 heading-section text-center ftco-animate">
                  <span class="subheading">Explore the Jordan of Tourism</span>
                  <h2 class="mb-4">our category</h2>
              </div>
          </div>
          <div class="container" >
            <div class="row d-flex" >
              <div *ngFor="let obj of home.GetCategoryWithImageAndTrips" class="col-md-4 d-flex ">
                <div class="blog-entry justify-content-end" >
                  <a href="blog-single.html" class="block-20"
                    [style.backgroundImage]="'url(../../assets/images/' + obj.images + ')'">
                  </a>
                  <div class="text">
                    <!-- <div class="d-flex align-items-center mb-4 topp">
                      <div class="one">
                        <span class="day">11</span>
                      </div>
                      <div class="two">
                        <span class="yr">2020</span>
                        <span class="mos">September</span>
                      </div>
                    </div> -->
                    <h3 class="heading subheading" style="color: #f15d30 ;">{{obj.category_Name}}</h3>
                    <p>{{obj.text}}</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          
      </div>
  </section>



    <section class=" img ftco-select-destination" style="background-image: url(assets/Home/images/bg_3.jpg);">
        <div class="container">
            <div class="row justify-content-center pb-4">
                <div class="col-md-12 heading-section text-center">
                    <span class="subheading">Pacific Provide Places</span>
                    <h2 class="mb-4">Select Your Destination</h2>
                </div>
            </div>
        </div>
        <div class="container container-2">
            <div class="row">
                <div class="col-md-12">
                    <div class="carousel-destination owl-carousel ftco-animate">
                        <div class="item">
                            <div class="project-destination">
                                <a href="#" class="img" style="background-image: url(assets/Home/images/place-1.jpg);">
                                    <div class="text">
                                        <h3>Philippines</h3>
                                        <span>8 Tours</span>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="item">
                            <div class="project-destination">
                                <a href="#" class="img" style="background-image: url(assets/Home/images/place-2.jpg);">
                                    <div class="text">
                                        <h3>Canada</h3>
                                        <span>2 Tours</span>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="item">
                            <div class="project-destination">
                                <a href="#" class="img" style="background-image: url(iassets/Home/mages/place-3.jpg);">
                                    <div class="text">
                                        <h3>Thailand</h3>
                                        <span>5 Tours</span>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="item">
                            <div class="project-destination">
                                <a href="#" class="img" style="background-image: url(assets/Home/images/place-4.jpg);">
                                    <div class="text">
                                        <h3>Autralia</h3>
                                        <span>5 Tours</span>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="item">
                            <div class="project-destination">
                                <a href="#" class="img" style="background-image: url(assets/Home/images/place-5.jpg);">
                                    <div class="text">
                                        <h3>Greece</h3>
                                        <span>7 Tours</span>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

      <section class="ftco-section">
        <div class="container">
          <div class="row justify-content-center pb-4">
            <div class="col-md-12 heading-section text-center ftco-animate">
              <span class="subheading">Most</span>
              <h2 class="mb-4">Popular Trips</h2>
            </div>
          </div>
          <div class="row">
            <div class="col-md-4" *ngFor="let obj of home.topRatedTrips">
                <div class="project-wrap">
                  <a *ngIf="obj.ImageName; else fallback">
                    <div class="img" [ngStyle]="{'background-image': 'url(../../assets/images/' + obj.image_Name + ')'}">
                      <span class="price">${{obj.trip_Price}}/Person</span>
                    </div>
                  </a>
                  <!-- fallback template -->
                  <ng-template #fallback>
                    <div class="img" [ngStyle]="{'background-image': 'url(../../assets/images/' + obj.image_Name + ')'}">
                      <span class="price">${{obj.trip_Price}}/Person</span>
                    </div>
                  </ng-template>
                  <div class="text p-4">
                    <span class="days">{{ getDaysDifference(obj.start_Date, obj.end_Date) }} Days Tour</span>
                    <h5 class="title">{{obj.trip_Name}}</h5>
                    <p class="location"><span class="fa fa-map-marker"></span> {{obj.destination_Location}}</p>
                    <ul class="read-more-wrapper">
                      <li><a (click)="showDetails(obj.trip_Id)" class="read-more-link">Read more <i class="bi bi-chevron-right"></i></a></li>
                    </ul>
                </div>
              </div>
            </div>
            <!-- <div class="col-md-4 ftco-animate">
              <div class="project-wrap">
                <a href="#" class="img" style="background-image: url(../../assets/Home/images/Aqaba.jpg);">
                  <span class="price">$550/person</span>
                </a>
                <div class="text p-4">
                  <span class="days">3 Days Tour</span>
                  <h3><a href="#">Aqaba</a></h3>
                  <p class="location"><span class="fa fa-map-marker"></span> Aqaba, Jordan</p>
                  <ul>
                    <li><span class="flaticon-sun-umbrella"></span>Read more</li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="col-md-4 ftco-animate">
              <div class="project-wrap">
                <a href="#" class="img" style="background-image: url(../../assets/Home/images/Wadi-Rum-Jordan.jpg);">
                  <span class="price">$300/person</span>
                </a>
                <div class="text p-4">
                  <span class="days">3 Days Tour</span>
                  <h3><a href="#">Wadi Rum</a></h3>
                  <p class="location"><span class="fa fa-map-marker"></span> Wadi Rum, Jordan</p>
                  <ul>
                    <li><span class="flaticon-sun-umbrella"></span>Read more</li>
    
                  </ul>
                </div>
              </div>
            </div>
      
            <div class="col-md-4 ftco-animate">
              <div class="project-wrap">
                <a href="#" class="img" style="background-image: url(../../assets/Home/images/ajloun-forest.jpg);">
                  <span class="price">$200/person</span>
                </a>
                <div class="text p-4">
                  <span class="days">5 Days Tour</span>
                  <h3><a href="#">Ajloun Forest Reserve</a></h3>
                  <p class="location"><span class="fa fa-map-marker"></span>  Ajloun, Jordan</p>
                  <ul>
                    <li><span class="flaticon-sun-umbrella"></span>Read more</li>
    
                  </ul>
                </div>
              </div>
            </div>
            <div class="col-md-4 ftco-animate">
              <div class="project-wrap">
                <a href="#" class="img" style="background-image: url(../../assets/Home/images/waDI\ MUJEB.jpg);">
                  <span class="price">$550/person</span>
                </a>
                <div class="text p-4">
                  <span class="days">5 Days Tour</span>
                  <h3><a href="#">Mujib Biosphere Reserve</a></h3>
                  <p class="location"><span class="fa fa-map-marker"></span> Wadi Mujib, Jordan</p>
                  <ul>
                    <li><span class="flaticon-sun-umbrella"></span>Read more</li>
    
                  </ul>
                </div>
              </div>
            </div>
            <div class="col-md-4 ftco-animate">
              <div class="project-wrap">
                <a href="#" class="img" style="background-image: url(../../assets/Home/images/JARASH.jpg);">
                  <span class="price">$100/person</span>
                </a>
                <div class="text p-4">
                  <span class="days">2 Days Tour</span>
                  <h3><a href="#">Jarash</a></h3>
                  <p class="location"><span class="fa fa-map-marker"></span> Jarash, Jordan</p>
                  <ul>
                    <li><span class="flaticon-sun-umbrella"></span>Read more</li>
    
                  </ul>
                </div>
              </div>
            </div>
            <div class="col-md-4 ftco-animate">
              <div class="project-wrap">
                <a href="#" class="img" style="background-image: url(../../assets/Home/images/kerak-Castle-1.jpg);">
                  <span class="price">$70/person</span>
                </a>
                <div class="text p-4">
                  <span class="days">1 Day Tour</span>
                  <h3><a href="#">Karak Castle</a></h3>
                  <p class="location"><span class="fa fa-map-marker"></span> Karak, Jordan</p>
                  <ul>
                    <li><span class="flaticon-sun-umbrella"></span>Read more</li>
    
                  </ul>
                </div>
              </div>
            </div>
            <div class="col-md-4 ftco-animate">
              <div class="project-wrap">
                <a href="#" class="img" style="background-image: url(../../assets/Home/images/UMM\ QAIS.png);">
                  <span class="price">$120/person</span>
                </a>
                <div class="text p-4">
                  <span class="days">2 Days Tour</span>
                  <h3><a href="#">Umm Qais</a></h3>
                  <p class="location"><span class="fa fa-map-marker"></span> Irbed, Jordan</p>
                  <ul>
                    <li><span class="flaticon-sun-umbrella"></span>Read more</li>
    
                  </ul>
                </div>
              </div>
            </div>
            <div class="col-md-4 ftco-animate">
              <div class="project-wrap">
                <a href="#" class="img" style="background-image: url(../../assets/Home/images/Aqaba-Wonders-Travel-Tourism.jpg);">
                  <span class="price">$1000/person</span>
                </a>
                <div class="text p-4">
                  <span class="days">7 Days Tour</span>
                  <h3><a href="#">Ayla Oasis </a></h3>
                  <p class="location"><span class="fa fa-map-marker"></span> Aqaba, Jordan</p>
                  <ul>
                    <li><span class="flaticon-sun-umbrella"></span>Read more</li>
    
                  </ul>
                </div>
              </div>
            </div> -->
          </div>
          <div class="row mt-5">
            <div class="col text-center">
              <div class="block-27">
                <ul>
                  <li><a href="#">&lt;</a></li>
                  <li class="active"><span>1</span></li>
                  <li><a href="#">2</a></li>
                  <li><a href="#">3</a></li>
                  <li><a href="#">4</a></li>
                  <li><a href="#">5</a></li>
                  <li><a href="#">&gt;</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </section>
      
      


      <section class="ftco-section ftco-about img"style="background-image: url(../../assets/images/{{home.selectedAboutus.image6}});">
          <div class="overlay"></div>
          <div class="container py-md-5">
          <div class="row py-md-5">
            <div class="col-md d-flex align-items-center justify-content-center">
            <a href="https://vimeo.com/45830194" class="icon-video popup-vimeo d-flex align-items-center justify-content-center mb-4">
              <span class="fa fa-play"></span>
            </a>
          </div>
        </div>
        </div>
       </section>
       
       <section class="ftco-section ftco-about ftco-no-pt img">
        <div class="container">
         <div class="row d-flex">
          <div class="col-md-12 about-intro">
           <div class="row">
            <div class="col-md-6 d-flex align-items-stretch">
             <div class="img d-flex w-100 align-items-center justify-content-center" style="background-image: url(../../assets/images/{{home.selectedAboutus.image5}});">
             </div>
           </div>
           <div class="col-md-6 pl-md-5 py-5">
             <div class="row justify-content-start pb-3">
               <div class="col-md-12 heading-section ftco-animate">
                 <ng-container>
                <span class="subheading">{{home.selectedAboutus.title}}</span>
                <h2 class="mb-4">{{home.selectedAboutus.header3}}</h2>
                <p>{{home.selectedAboutus.text1}}</p>
                <p><a href="#" class="btn btn-primary">Book Your Destination</a></p>
               </ng-container>
              </div>
            </div>
          </div>
        </div>
       </div>
       </div>
       </div>
       </section>
       



       <!-- <section class="ftco-section testimony-section bg-bottom" style="background-image: url(../../assets/Home/images/{{home.selectedAboutus.feedback_background}});">
        <div class="overlay"></div>
        <div class="container">
         <div class="row justify-content-center pb-4">
           <div class="col-md-7 text-center heading-section heading-section-white ftco-animate">
            <span class="subheading">{{home.selectedAboutus.feedbackTitle}}</span>
            <h2 class="mb-4">{{home.selectedAboutus.feedbackHeader}}</h2>
          </div>
        </div>
        <div class="row ftco-animate">
         <div class="col-md-12">
           <div class="carousel-testimony owl-carousel">
             <div class="item">
               <div class="testimony-wrap py-4" *ngFor="let obj of home.Testimonial">
                 <div class="text">
                  <p class="star">
                   <span class="fa fa-star"></span>
                   <span class="fa fa-star"></span>
                   <span class="fa fa-star"></span>
                   <span class="fa fa-star"></span>
                   <span class="fa fa-star"></span>
                 </p>
                 <p class="mb-4">{{obj.feedback}}</p>
                 <div class="d-flex align-items-center">
                  <div class="user-img" style="background-image: url(../../assets/Home/images/person_1.jpg)"></div>
                  <div class="pl-3">
                   <p class="name">{{obj.case}}</p>
                   <span class="position">{{obj.rating}}</span>
                 </div>
               </div>
             </div>
           </div>
           </div>
       </div>
       </div>
       </div>
       </div>
       </section> -->

       <!-- <section class="ftco-section testimony-section bg-bottom" style="background-image: url(../../assets/Home/images/{{home.selectedAboutus.feedback_background}});">
        <div class="overlay"></div>
        <div class="container">
         <div class="row justify-content-center pb-4">
           <div class="col-md-7 text-center heading-section heading-section-white ftco-animate">
            <span class="subheading">{{home.selectedAboutus.feedbackTitle}}</span>
            <h2 class="mb-4">{{home.selectedAboutus.feedbackHeader}}</h2>
          </div>
        </div>

        <div class="row ftco-animate">
         <div class="col-md-12">       
           <div class="carousel-testimony owl-carousel" >        
             <div class="item" >          
               <div class="testimony-wrap py-4"  >               
                 <div class="text" *ngFor="let obj of home.Testimonial">
                  <p class="star">
                   <span class="fa fa-star"></span>
                   <span class="fa fa-star"></span>
                   <span class="fa fa-star"></span>
                   <span class="fa fa-star"></span>
                   <span class="fa fa-star"></span>
                 </p>
                 <p class="mb-4">{{obj.feedback}}</p>
                 <div class="d-flex align-items-center">
                  <div class="user-img" style="background-image: url(../../assets/Home/images/person_1.jpg)"></div>
                  <div class="pl-3">
                   <p class="name">Sajeda Alquraan</p>
                   <span class="position">{{obj.case}}</span>
                 </div>
               </div>
             </div>
             
           </div>
         </div>      
       </div>     
       </div>
       <div class="container">
        <div class="row justify-content-center pb-4">
           <div class="col-md-7 text-center heading-section heading-section-white ftco-animate">          
            <span class="subheading">
              <button style="height: 60px; margin-top: 70px;" (click)="openTestimonialDialog()" [disabled]="!isTokenPresent()">Add Testimonial</button>
            </span>         
          </div>
        </div>
        </div>
       </div>   
       </div>
       </section> -->




       <!-- <section class="ftco-section testimony-section bg-bottom" style="background-image: url(../../assets/Home/images/{{home.selectedAboutus.feedback_background}});">
        <div class="overlay"></div>
        <div class="container">
         <div class="row justify-content-center pb-4">
           <div class="col-md-7 text-center heading-section heading-section-white ftco-animate">
            <span class="subheading">{{home.selectedAboutus.feedbackTitle}}</span>
            <h2 class="mb-4">{{home.selectedAboutus.feedbackHeader}}</h2>
          </div>
        </div>
        <div class="row ftco-animate">
         <div class="col-md-12">
           <div class="carousel-testimony owl-carousel">
             <div class="item">
               <div class="testimony-wrap py-4">
                 <div class="text">
                  <p class="star">
                   <span class="fa fa-star"></span>
                   <span class="fa fa-star"></span>
                   <span class="fa fa-star"></span>
                   <span class="fa fa-star"></span>
                   <span class="fa fa-star"></span>
                 </p>
                 <p class="mb-4">An unforgettable experience! Volunteering abroad through this program was life-changing. I made meaningful connections, contributed to local communities, and explored beautiful places. Highly recommend to anyone looking for an impactful journey!</p>
                 <div class="d-flex align-items-center">
                  <div class="user-img" style="background-image: url(../../assets/Home/images/person_1.jpg)"></div>
                  <div class="pl-3">
                   <p class="name">Sajeda Alquraan</p>
                   <span class="position">Trip Volunteer</span>
                 </div>
               </div>
             </div>
           </div>
         </div>
         <div class="item">
           <div class="testimony-wrap py-4">
             <div class="text">
              <p class="star">
               <span class="fa fa-star"></span>
               <span class="fa fa-star"></span>
               <span class="fa fa-star"></span>
               <span class="fa fa-star"></span>
               <span class="fa fa-star"></span>
             </p>
             <p class="mb-4">Volunteering on this trip helped me grow both personally and professionally. I gained new skills, explored beautiful destinations, and made a positive impact. It was truly a rewarding experience, and I can't wait for my next trip!</p>
             <div class="d-flex align-items-center">
              <div class="user-img" style="background-image: url(../../assets/Home/images/person_2.jpg)"></div>
              <div class="pl-3">
               <p class="name">Sajeda Alquraan</p>
               <span class="position">Trip Volunteer</span>
             </div>
           </div>
         </div>
       </div>
       </div>
       <div class="item">
         <div class="testimony-wrap py-4">
           <div class="text">
            <p class="star">
             <span class="fa fa-star"></span>
             <span class="fa fa-star"></span>
             <span class="fa fa-star"></span>
             <span class="fa fa-star"></span>
             <span class="fa fa-star"></span>
           </p>
           <p class="mb-4">This website made planning my volunteer trip hassle-free. The user-friendly interface and quick booking confirmation gave me confidence in my decision. Excited to make a difference!</p>
           <div class="d-flex align-items-center">
            <div class="user-img" style="background-image: url(../../assets/Home/images/person_3.jpg)"></div>
            <div class="pl-3">
             <p class="name">Sajeda Alquraan</p>
             <span class="position">Booked a Trip</span>
           </div>
         </div>
       </div>
       </div>
       </div>
       <div class="item">
         <div class="testimony-wrap py-4">
           <div class="text">
            <p class="star">
             <span class="fa fa-star"></span>
             <span class="fa fa-star"></span>
             <span class="fa fa-star"></span>
             <span class="fa fa-star"></span>
             <span class="fa fa-star"></span>
           </p>
           <p class="mb-4">I loved the transparency and variety of options on this website. Booking was straightforward, and I received all the necessary details right away. I’m all set for my journey and couldn't be happier!</p>
            <div class="d-flex align-items-center">
                <div class="user-img" style="background-image: url(../../assets/Home/images/person_1.jpg)"></div>
                  <div class="pl-3">
                    <p class="name">Sajeda Alquraan</p>
                    <span class="position">Booked a Trip</span>
                  </div>
              </div>
       </div>
       </div>
       </div>
       </div>     
       </div>
       <div class="container">
        <div class="row justify-content-center pb-4">
           <div class="col-md-7 text-center heading-section heading-section-white ftco-animate">          
            <span class="subheading">
              <button style="height: 60px; margin-top: 70px;" (click)="openTestimonialDialog()" [disabled]="!isTokenPresent()">Add Testimonial</button>
            </span>          
          </div>
        </div>
        </div>
       </div>     
       </div>
       </section> -->
       
<app-testimonial-element></app-testimonial-element>

   

    <section class="ftco-intro ftco-section ftco-no-pt">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-12 text-center">
                    <div class="img" style="background-image: url(assets/Home/images/bg_2.jpg);">
                        <div class="overlay"></div>
                        <h2>We Are Pacific A Travel Agency</h2>
                        <p>We can manage your dream building A small river named Duden flows by their place</p>
                        <p class="mb-0"><a href="#" class="btn btn-primary px-4 py-3">Ask For A Quote</a></p>
                    </div>
                </div>
            </div>
        </div>
    </section>
<app-footer></app-footer>