<footer class="ftco-footer bg-bottom ftco-no-pt" style="background-color: #2e2e2e; padding: 20px 0;">
    <div class="container" >
        <div class="row mb-5">
            <div class="col-md pt-5">
                <div class="ftco-footer-widget pt-md-5 mb-4">
                    <h2 class="ftco-heading-2">About</h2>
                    <p class="p">Far far away, behind the word mountains, far from the countries Vokal.</p>
                    <ul class="ftco-footer-social list-unstyled float-md-left float-lft">
                        <li class="ftco-animate"><a href="#"><span class="fa fa-twitter"></span></a></li>
                        <li class="ftco-animate"><a href="#"><span class="fa fa-facebook"></span></a></li>
                        <li class="ftco-animate"><a href="#"><span class="fa fa-instagram"></span></a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md pt-5 " style="border-left: 1px solid rgb(63, 61, 61);">
                <div class="ftco-footer-widget pt-md-5 mb-4 ml-md-5">
                    <h2 class="ftco-heading-2">Infromation</h2>
                    <ul class="list-unstyled">
                        <li><a routerLink="/Trips" routerLinkActive="active" class="py-2 d-block">Trips</a></li>
                        <li><a routerLink="/booking" routerLinkActive="active" class="py-2 d-block">Booking Conditions</a></li>
                        <li><a routerLink="/privacy" routerLinkActive="active" class="py-2 d-block">Privacy and Policy</a></li>
                        <li><a routerLink="/contactus" routerLinkActive="active" class="py-2 d-block">Call Us</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md pt-5" style="border-left: 1px solid rgb(63, 61, 61);">
                <div class="ftco-footer-widget pt-md-5 mb-4 ml-md-5">
                    <h2 class="ftco-heading-2">Experience</h2>
                    <ul class="list-unstyled">
                        <li><a routerLink="/Adventure" routerLinkActive="active"  class="py-2 d-block">Adventure</a></li>
                        <li><a routerLink="/Adventure" routerLinkActive="active"  class="py-2 d-block">Beach</a></li>
                        <li><a routerLink="/Adventure" routerLinkActive="active"  class="py-2 d-block">Nature</a></li>
                        <li><a routerLink="/Adventure" routerLinkActive="active"  class="py-2 d-block">Camping</a></li>
                   
                    </ul>
                </div>
            </div>
            <div class="col-md pt-5 " style="border-left: 1px solid rgb(63, 61, 61);">
                <div class="ftco-footer-widget pt-md-5 mb-4 ml-md-5">
                    <h2 class="ftco-heading-2">Have a Questions?</h2>
                    <div class="list-unstyled" *ngFor="let obj of contact.WebsiteInfo">
                        <ul>
                            <li><span class="icon fa fa-map-marker"></span><span class="text">{{obj.adress}}</span></li>
                            <li><a href="#"><span class="icon fa fa-phone"></span><span class="text">{{obj.phone_Number}}</span></a></li>
                            <li><a href="#"><span class="icon fa fa-paper-plane"></span><span
                                        class="text">{{obj.email}}</span></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="row" >
            <div class="col-md-12 text-center">

                <p style="color: rgb(112, 109, 109);"><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                    Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved <i class="fa fa-heart" aria-hidden="true"></i>
                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p>
                </div>
            </div>
    </div>
</footer>