

/* Add spacing between sections */
.mt-4 {
    margin-top: 30px;
}

/* Simple list styling */
.simple-list .list-group-item {
    font-size: 0.95rem;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #eee;
}

/* Button link styling */
.btn-link {
    color: black;
    font-weight: bold;
    text-decoration: none;
}
.btn-link:hover {
    color: #f15d30;
    font-weight: bold;
    text-decoration: none;
}

/* Card header styling for differentiation */
.card-header {
    font-size: 1rem;
    font-weight: bold;
}


/* Container and card padding */
.container {
    padding: 20px;
}
.card {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.btn-outline-secondary {
    color: #f15d30;
    border-color: #f15d30;
  }
  
  .btn-outline-secondary:hover {
    background-color: #f15d30;
    border-color: #f15d30;
    color: white;
  }
  
  .btn-custom-primary {
    background-color: #f15d30;
    color: #fff;
  }
  
  .btn-custom-primary:hover {
    background-color: #d54e27;
  }

  h4{
    color: white;
  }

  /* General styling for the container span */
.status-span {
    font-weight: bold;
    font-size: small;
  }
  
  /* Payment Status - Not Paid */
  .payment-Not-Paid {
    color: #dc3545; /* Red text color */
  }
  
  /* Payment Status - Paid */
  .payment-paid {
    color: #28a745; 
  }
  
  /* Volunteer Status - Pending */
  .status-pending {
    color: #ffc107; 
  }
  
  /* Volunteer Status - Approved */
  .status-approved {
    color: #17a2b8; 
  }
  
  .status-other {
    color: #b9160a; /* Gray color */
    font-weight: bold;
}
  .modal-body {
    max-width: 600px;
    margin: auto;
    padding: 20px;
  }
  
  .booking-section, .trip-section, .services-section, .reservation-section, .volunteer-section {
    border-bottom: 1px solid #e9ecef;
    padding-bottom: 10px;
    margin-bottom: 20px;
  }
  
  .services-section ul, .volunteer-section ul {
    max-height: 200px;
    overflow-y: auto;
  }
  
  .modal-title {
    color: #007bff;
    font-weight: bold;
  }
  .simple-list {
    padding-left: 0;
  }
  
  .card-body {
    padding: 1.25rem;
  }
  
  .d-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .d-flex > .btn {
    margin-left: 5px;
  }
  
  .text-center {
    margin-top: 2rem;
    font-style: italic;
  }
  
  .font-weight-bold {
    font-weight: bold;
  }
  

  .error-message {
    color: red;
    font-weight: bold;
  }
  