body {
  font-family: Arial, sans-serif;
  color: black;
}

.report-title {
  color: black;
  font-weight: bold;
}

.btn {
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

@media (max-width: 768px) {
  .btn {
    padding: 8px 10px;
  }

  .custom-table th,
  .custom-table td {
    padding: 8px 10px;
  }

  .btn-add-category {
    width: 100%;
    float: none;
    margin-bottom: 10px;
  }
}

.table-hover tbody tr:hover {
  background-color: #f1f4f5 !important;
  color: black;
}

.page-body-wrapper {
  background-color: #2E2E2E;
}

.home-th {
  color: black;
}

.cont {
  margin-bottom: 10px;
}

.card-title {
  color: black;
}

.create-button {
  color: rgb(0, 193, 83);
  font-size: 30px !important;
}

.table {
  background-color: white;
}

.edit-action {
  color: rgb(92, 92, 245) !important;
}

.delete-action {
  color: rgb(247, 88, 88) !important;
}

.create-form {
  padding: 30px;
}