<!DOCTYPE html>
<html lang="en">

<body>
    <div class="container-scroller">
        <!-- partial:../../partials/_sidebar.html -->
        <app-header></app-header>
        <!-- partial -->
        <div class="container-fluid page-body-wrapper">
            <!-- partial:../../partials/_navbar.html -->
            <!-- partial -->
            <div class="main-panel">
                <div class="content-wrapper">
                    <div class="row">
                        <div class="col-lg-12 grid-margin stretch-card">
                            <div class="card">
                                <div class="card-body">
                                    <div class="d-flex justify-content-between align-items-center"
                                        style="margin-bottom: 10px;">
                                        <h4 class="card-title">Home page elements</h4>
                                        <button mat-button (click)="openCreateDialog()"
                                            style="color: rgb(0,193,83); font-size: 30px !important;">
                                            <i class="bi bi-plus-circle-fill fs-1"></i>
                                        </button>
                                    </div>
                                    <div class="table-responsive">
                                        <table class="table table-dark table-hover table-bordered table-stripped">
                                            <thead>
                                                <tr>
                                                    <th>#</th>
                                                    <th>Hero Image</th>
                                                    <th>Logo Image</th>
                                                    <th>Header</th>
                                                    <th>Title</th>
                                                    <th>Text 1</th>
                                                    <th>Select</th>
                                                    <th>Actions</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr *ngFor="let obj of home.homePageElements">
                                                    <td>{{ obj.home_Page_Id }}</td>
                                                    <td><img src="../../../assets/images/{{ obj.hero_Image }}"
                                                            alt="Hero"></td>
                                                    <td><img src="../../../assets/images/{{ obj.logo_Image }}"
                                                            alt="Image 1"></td>
                                                    <td>{{ obj.header }}</td>
                                                    <td>{{ obj.title }}</td>
                                                    <td>{{ obj.text1 }}</td>
                                                    <td>
                                                        <mat-radio-group [(ngModel)]="selectedElementId"
                                                            (change)="onElementSelect(obj.home_Page_Id)">
                                                            <mat-radio-button
                                                                [value]="obj.home_Page_Id"></mat-radio-button>
                                                        </mat-radio-group>
                                                    </td>

                                                    <td>
                                                        <div class="buttons">
                                                            <button mat-button color="primary"
                                                                (click)="openEditDialog(obj)" class="action-button"
                                                                matTooltip="manage this trip"
                                                                style="color: rgb(92, 92, 245) !important;"><i
                                                                    class="bi bi-pencil-square"></i></button>
                                                            <button mat-button
                                                                (click)="openDeleteDialog(obj.home_Page_Id)"
                                                                matTooltip="Delete this trip" class="action-button"
                                                                style="color: rgb(247, 88, 88) !important;"><i
                                                                    class="bi bi-trash-fill"></i></button>
                                                        </div>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>


<ng-template #callCreateDialog>
    <mat-dialog-content class="mat-typography">
        <h3>Create Home Elements</h3>
        <form [formGroup]="CreateHomeElements" style="padding: 30px;">
            <div>
                <mat-card class="image-upload-card">
                    <div class="image-upload-header">
                        <mat-label>Hero Image</mat-label>
                        <button mat-icon-button (click)="clearHeroImage()" *ngIf="heroImagePreview">
                            <mat-icon>close</mat-icon>
                        </button>
                    </div>
                    <input type="file" #file formControlName="hero_Image" (change)="uploadHeroImage(file.files)" hidden>
                    <img *ngIf="heroImagePreview" [src]="heroImagePreview" class="image-preview">
                    <button mat-stroked-button color="primary" (click)="file.click()" *ngIf="!heroImagePreview">
                        Upload Hero Image
                    </button>
                    <mat-error
                        *ngIf="CreateHomeElements.get('hero_Image')?.invalid && 
                               (CreateHomeElements.get('hero_Image')?.touched || CreateHomeElements.get('hero_Image')?.dirty)">
                        Hero Image is required.
                    </mat-error>
                </mat-card>
            </div>

            <div>
                <mat-card class="image-upload-card">
                    <div class="image-upload-header">
                        <mat-label>Logo Image</mat-label>
                        <button mat-icon-button (click)="clearLogoImage()" *ngIf="logoImagePreview">
                            <mat-icon>close</mat-icon>
                        </button>
                    </div>
                    <input type="file" #file2 formControlName="logo_Image" (change)="uploadLogoImg(file2.files)" hidden>
                    <img *ngIf="logoImagePreview" [src]="logoImagePreview" class="image-preview">
                    <button mat-stroked-button color="primary" (click)="file2.click()" *ngIf="!logoImagePreview">
                        Upload Logo Image
                    </button>
                    <mat-error
                        *ngIf="CreateHomeElements.get('logo_Image')?.invalid && 
                               (CreateHomeElements.get('logo_Image')?.touched || CreateHomeElements.get('logo_Image')?.dirty)">
                        Logo Image is required.
                    </mat-error>
                </mat-card>
            </div>
            <div>
                <mat-form-field appearance="fill" class="full-width">
                    <mat-label>Title</mat-label>
                    <input type="text" matInput placeholder="Title" formControlName="title">
                    <mat-error
                        *ngIf="CreateHomeElements.get('title')?.invalid && CreateHomeElements.get('title')?.touched">
                        Title is required.
                    </mat-error>
                </mat-form-field>

            </div>
            <div>
                <mat-form-field appearance="fill" class="full-width">
                    <mat-label>Header</mat-label>
                    <input type="text" matInput placeholder="Header" formControlName="header">
                    <mat-error
                        *ngIf="CreateHomeElements.get('header')?.invalid && CreateHomeElements.get('header')?.touched">
                        Header is required.
                    </mat-error>
                </mat-form-field>
            </div>
            <div>
                <mat-form-field appearance="fill" class="full-width">
                    <mat-label>Text 1</mat-label>
                    <textarea matInput placeholder="Text 1" formControlName="text1" rows="4"></textarea>
                </mat-form-field>
            </div>
        </form>
    </mat-dialog-content>

    <mat-dialog-actions align="end">
        <button mat-button mat-dialog-close>Cancel</button>
        <button mat-button mat-dialog-close cdkFocusInitial [disabled]="CreateHomeElements.invalid"
            (click)="save()">Create</button>
    </mat-dialog-actions>
</ng-template>


<!-- update -->
<ng-template #callUpdateDialog>
    <mat-dialog-content class="mat-typography">
        <h3>Update Element</h3>
        <form [formGroup]="UpdateHomeElements" style="padding: 30px;">
            <div>
                <mat-card class="image-upload-card">
                    <div class="image-upload-header">
                        <mat-label>Hero Image</mat-label>
                        <button mat-icon-button (click)="clearHeroImage()" *ngIf="heroImagePreview">
                            <mat-icon>close</mat-icon>
                        </button>
                    </div>
                    <input type="file" #file formControlName="hero_Image" (change)="uploadHeroImage(file.files)" hidden>
                    <img *ngIf="heroImagePreview" [src]="heroImagePreview" class="image-preview">
                    <button mat-stroked-button color="primary" (click)="file.click()" *ngIf="!heroImagePreview">
                        Upload Hero Image
                    </button>
                </mat-card>
            </div>

            <div>
                <mat-card class="image-upload-card">
                    <div class="image-upload-header">
                        <mat-label>Logo Image</mat-label>
                        <button mat-icon-button (click)="clearLogoImage()" *ngIf="logoImagePreview">
                            <mat-icon>close</mat-icon>
                        </button>
                    </div>
                    <input type="file" #file2 formControlName="logo_Image" (change)="uploadLogoImg(file2.files)" hidden>
                    <img *ngIf="logoImagePreview" [src]="logoImagePreview" class="image-preview">
                    <button mat-stroked-button color="primary" (click)="file2.click()" *ngIf="!logoImagePreview">
                        Upload Logo Image
                    </button>
                </mat-card>
            </div>
            <div>
                <mat-form-field appearance="fill" class="full-width">
                    <mat-label>Title</mat-label>
                    <input type="text" matInput placeholder="Title" formControlName="title" [(ngModel)]="pData.title">
                    <mat-error
                        *ngIf="CreateHomeElements.get('title')?.invalid && CreateHomeElements.get('title')?.touched">
                        Title is required.
                    </mat-error>
                </mat-form-field>

            </div>
            <div>
                <mat-form-field appearance="fill" class="full-width">
                    <mat-label>Header</mat-label>
                    <input type="text" matInput placeholder="Header" formControlName="header"
                        [(ngModel)]="pData.header">
                    <mat-error
                        *ngIf="CreateHomeElements.get('header')?.invalid && CreateHomeElements.get('header')?.touched">
                        Header is required.
                    </mat-error>
                </mat-form-field>
            </div>
            <div>
                <mat-form-field appearance="fill" class="full-width">
                    <mat-label>Text 1</mat-label>
                    <textarea matInput placeholder="Text 1" formControlName="text1" rows="4"
                        [(ngModel)]="pData.text1"></textarea>
                </mat-form-field>
            </div>
        </form>
    </mat-dialog-content>
    <mat-dialog-actions align="end">
        <button mat-button mat-dialog-close>Cancel</button>
        <button mat-button mat-dialog-close cdkFocusInitial [disabled]="UpdateHomeElements.invalid"
            (click)="save2()">Edit</button>
    </mat-dialog-actions>
</ng-template>



<!-- Delete -->
<ng-template #callDeleteDialog>
    <h1 mat-dialog-title>Delete Home Page Elements</h1>
    <div mat-dialog-content>Are you sure you went to delete this item ?</div>
    <div mat-dialog-actions>
        <button mat-button mat-dialog-close="yes">Yes</button>
        <button mat-button mat-dialog-close="no">No</button>
    </div>
</ng-template>